.dimensions-list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.chip {
  width: 45%;
}

.chip > span {
  margin: auto;
}

.chip-icon {
  padding-right: 10px;
  width: 12px;
  height: 15px;
  font-size: medium;
}

.cancel {
  padding-left: 10px;
  width: 12px;
  height: 15px;
  font-size: medium;
}
