@use "sass:map";
@use "@angular/material" as mat;

$light-primary: (
  50 : #e7e7f6,
    100 : #c4c2e8,
    200 : #9d9ad9,
    300 : #7571ca,
    400 : #5852be,
    500 : #3a34b3,
    600 : #342fac,
    700 : #2c27a3,
    800 : #25219a,
    900 : #18158b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
  )
);

$light-accent: (
  50: #edecff,
  100: #d3d0ff,
  200: #b6b1ff,
  300: #9892ff,
  400: #827aff,
  500: #6c63ff,
  600: #645bff,
  700: #5951ff,
  800: #4f47ff,
  900: #3d35ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff
  )
);

$ckb-light-primary: mat.define-palette($light-primary);
$ckb-light-accent: mat.define-palette($light-accent);

$ckb-light-theme: mat.define-light-theme((
  color: (
    primary: $ckb-light-primary,
    accent: $ckb-light-accent
  )
));
