<div>
  <div style="position: absolute;">
    <app-toolbar *ngIf="user && board" [user]="user">
      <span *ngIf="board && board.name">{{ board.name }}</span>
      <button mat-icon-button (click)="openTaskDialog()" matTooltip="Read Task">
        <mat-icon>task</mat-icon>
      </button>
      <span style="flex: 1 1 auto"></span>
      <button mat-icon-button *ngIf="user && user.role == Role.TEACHER" (click)="openWorkflowDialog()" matTooltip="Workflows">
        <mat-icon>timeline</mat-icon>
      </button>
      <button mat-icon-button *ngIf="!(user.role == Role.STUDENT && !board.permissions.showBucketStudent)" (click)="showBucketsModal()" matTooltip="View Buckets">
        <mat-icon>shopping_basket</mat-icon>
      </button>
      <button mat-icon-button (click)="showListModal()" matTooltip="List Posts">
        <mat-icon>list_alt</mat-icon>
      </button>
      <button *ngIf="user && user.role == Role.TEACHER" mat-icon-button (click)="openSettingsDialog()"
        matTooltip="Adjust Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <div *ngIf="board">
        <app-notification-dropdown [user]="user" [board]="board"></app-notification-dropdown>
      </div>
    </app-toolbar>
    <div class="canvas-area">
      <canvas id="canvas"></canvas>
      <div class="nav">
        <a routerLink="{{'/project/'+projectID}}">Back to Project</a>
      </div>
      <div class="toolSection">
          <div class="toolField">
            <button *ngIf="mode != modeType.CHOOSING_LOCATION" [disabled]="board && user && !board.permissions.allowStudentEditAddDeletePost && user.role == Role.STUDENT" mat-fab color="accent" matTooltip="Add Post" matTooltipPosition="before" (click)="handleCreatePost()">
                <mat-icon>add</mat-icon>
            </button>
            <button *ngIf="mode == modeType.CHOOSING_LOCATION" mat-fab color="accent" matTooltip="Cancel Post" matTooltipPosition="before" (click)="disableChooseLocation()">
                <mat-icon>close</mat-icon>
            </button>
            <button *ngIf="mode == modeType.EDIT" mat-fab color="accent" matTooltip="Mode: Move Posts" matTooltipPosition="before" (click)="enablePanMode()">
                <mat-icon>open_with</mat-icon>
            </button>
            <button *ngIf="mode == modeType.PAN" mat-fab color="accent" matTooltip="Mode: Pan Canvas" matTooltipPosition="before"  (click)="enableEditMode()">
                <mat-icon style="padding-right: 3px;">pan_tool</mat-icon>
            </button>
          </div>
        </div>
        <div class="zoomField">
          <button mat-icon-button (click)="handleZoom('zoomOut')" class="zoomButton" aria-label="Zoom out">
            <mat-icon>remove</mat-icon>
          </button>
          <span aria-label="Current zoom level">{{ Math.round(this.zoom * 100) }}%</span>
          <button mat-icon-button (click)="handleZoom('zoomIn')" class="zoomButton" aria-label="Zoom in">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button (click)="handleZoom('reset')" class="zoomButton" aria-label="Reset zoom">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
    </div>
  </div>
</div>