<div>
  <div>
    <app-toolbar *ngIf="user && board && !embedded" [user]="user">
      <button
        mat-icon-button
        routerLink="{{ '/project/' + projectID }}"
        matTooltip="Return to Project Dashboard"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="toolbarTitle" *ngIf="board && board.name">{{
        board.name
      }}</span>
      <button mat-icon-button (click)="openTaskDialog()" matTooltip="Read Task">
        <mat-icon>task</mat-icon>
      </button>
      <button
        mat-icon-button
        *ngIf="user.role === Role.TEACHER"
        (click)="
          board.scope === BoardScope.PROJECT_SHARED
            ? copyEmbedCode()
            : copyPersonalEmbedCode()
        "
        matTooltip="Copy embeddable URL"
      >
        <mat-icon>file_copy</mat-icon>
      </button>
      <span style="flex: 1 1 auto"></span>
      <app-view-navigation
        [boardID]="boardID"
        [currentView]="viewType"
      ></app-view-navigation>
      <div *ngIf="board">
        <app-notification-dropdown
          [user]="user"
          [board]="board"
        ></app-notification-dropdown>
      </div>
      <app-toolbar-menu
        navbarMenu
        [board]="board"
        [project]="project"
      ></app-toolbar-menu>
    </app-toolbar>
    <div class="canvas-area">
      <canvas id="canvas" (window:resize)="onResize($event)"></canvas>
      <div class="top-embedded-board-name" *ngIf="user && board && embedded">
        {{ board.name }}
      </div>
      <div class="bottom-nav">
        <a>{{ upvoteCounter }} upvotes remaining!</a>
      </div>
      <div class="toolSection">
        <div class="toolField">
          <button
            *ngIf="mode !== modeType.CHOOSING_LOCATION"
            [disabled]="
              board &&
              user &&
              !board.permissions.allowStudentEditAddDeletePost &&
              user.role === Role.STUDENT
            "
            mat-fab
            color="accent"
            matTooltip="Add Post"
            matTooltipPosition="before"
            (click)="handleCreatePost()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button
            *ngIf="mode === modeType.CHOOSING_LOCATION"
            mat-fab
            color="accent"
            matTooltip="Cancel Post"
            matTooltipPosition="before"
            (click)="disableChooseLocation()"
          >
            <mat-icon>close</mat-icon>
          </button>
          <button
            *ngIf="mode === modeType.EDIT"
            mat-fab
            color="accent"
            matTooltip="Switch to Move Posts Mode"
            matTooltipPosition="before"
            (click)="enablePanMode()"
          >
            <span style="padding-left: 1px" class="material-symbols-outlined">
              arrow_selector_tool
            </span>
          </button>
          <button
            *ngIf="mode === modeType.PAN"
            mat-fab
            color="accent"
            matTooltip="Switch to Pan Mode (Right-click/Ctrl+click)"
            matTooltipPosition="before"
            (click)="enableEditMode()"
          >
            <mat-icon style="padding-right: 3px">pan_tool</mat-icon>
          </button>
        </div>
      </div>
      <div class="zoomField">
        <button
          mat-icon-button
          (click)="handleZoom('zoomOut')"
          class="zoomButton"
          aria-label="Zoom out"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <span aria-label="Current zoom level"
          >{{ Math.round(this.zoom * 100) }}%</span
        >
        <button
          mat-icon-button
          (click)="handleZoom('zoomIn')"
          class="zoomButton"
          aria-label="Zoom in"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="handleZoom('reset')"
          class="zoomButton"
          aria-label="Reset zoom"
        >
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
