.table {
  width: 100%;
}

.todoItemRow:hover{
  cursor: pointer;
  background: #f5f5f5;
}

.mat-column-task-title {
  font-size: 16px;
  padding: 0 12px;
}

.mat-column-group {
  margin-right: 16px;
  font-size: 16px;
  padding-right: 16px;
}

.mat-column-quality{
  font-size: 16px;
  padding: 0 12px;
}

.mat-column-type{
  margin-right: 16px;
  font-size: 16px;
  margin: 10px 0;
}

.mat-column-deadline, .mat-column-completion-date {
  font-style: italic;
  font-size: 15px;
  margin-right: 16px;
}

.addTodoItemButton{
  float: right;
  position: absolute; 
  right: 0; 
  margin: 10px 10px;
}

.canvas {
  height: 100%; /* we need these for full-screen effect */
  width: 100%;
}

.chip-icon {
  padding-right: 10px;
  width: 12px;
  height: 15px;
  font-size: medium;
  margin-right: 10px;
}

.table_style {
  overflow-y:auto;
  max-height:500px;
  margin-top:15px
}

.mat_icon_styling{
  width: 0px;
  overflow: initial;
}

