.table {
  width: 100%;
}

.mat-column-task-title {
  padding-left: 16px;
  font-size: 18px;
}

.mat-column-deadline, .mat-column-completion-date {
  font-style: italic;
  font-size: 18px;
}

.addTodoItemButton{
  float: right;
  position: absolute; 
  right: 0; 
  margin: 10px 10px;
}

.canvas {
  height: 100%; /* we need these for full-screen effect */
  width: 100%;
}

.chip-icon {
  padding-right: 10px;
  width: 12px;
  height: 15px;
  font-size: medium;
  margin-right: 10px;
}

.table_style {
  overflow-y:auto;
  max-height:500px;
  margin-top:15px
}

.mat_icon_styling{
  width: 0px;
  overflow: initial;
}

