.create-group-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-group-form {
    width: 80%;
}

.create-group-submit {
    margin-bottom: 20px;
}
