<h1 mat-dialog-title>Manage Groups</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="Groups">
      <div
        *ngIf="showEdit"
        style="margin-top: 20px"
      >
        <button 
          mat-icon-button
          matTooltip="Back"
          (click)="closeEdit()"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-form-field
          appearance="outline"
          style="width: 100%; margin-top: 20px"
        >
          <mat-label>Group Name</mat-label>
          <input
            name="editName"
            [formControl]="editNameControl"
            [errorStateMatcher]="matcher"
            [(ngModel)]="editGroup.name"
            matInput
            autocomplete="off"
            cdkFocusInitial
          />
          <mat-error *ngIf="!editNameControl.value">Group Name is <strong>required</strong></mat-error>
        </mat-form-field>
        <app-move-group-members
          [projectID]="data.project.projectID"
          [groups]="[editGroup]"
          (updateGroups)="updateEditGroupMembers($event[0])"
        >

        </app-move-group-members>
        <mat-divider></mat-divider>
        <button
          type="submit"
          [disabled]="!editNameControl.valid"
          mat-button
          cdkFocusInitial
          (click)="updateGroup(this.editGroup)"
          style="margin-top: 10px"
        >
          Update
        </button>
      </div>
      <mat-list *ngIf="!showEdit">
        <div class="create-group-container">
          <mat-form-field
            appearance="outline"
            class="create-group-form"
          >
            <mat-label>Group Name</mat-label>
            <input
              name="groupName"
              [formControl]="groupNameControl"
              [errorStateMatcher]="matcher"
              matInput
              autocomplete="off"
              cdkFocusInitial
            />
            <mat-error *ngIf="!groupNameControl.value">Group Name is <strong>required</strong></mat-error>
          </mat-form-field>
          <button
            type="submit"
            [disabled]="!groupNameControl.valid"
            mat-button
            class="create-group-submit"
            (click)="createGroup()"
            cdkFocusInitial
          >
            Create
          </button>
        </div>
        
        <div mat-subheader>Groups: {{ groups.length }}</div>
        <mat-list-item *ngFor="let group of groups">
          <mat-icon mat-list-icon>group</mat-icon>
          <div mat-line>{{ group.name }}</div>
          <button 
            mat-icon-button
            matTooltip="Edit Group"
            (click)="openEdit(group)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button 
            mat-icon-button
            matTooltip="Delete Group"
            (click)="deleteGroup(group)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Multi-Group Assign">
      <mat-form-field appearance="fill">
        <mat-label>Select Groups...</mat-label>
        <mat-select multiple>
          <mat-option
            *ngFor="let group of groups"
            [value]="group"
            (onSelectionChange)="selectGroup($event)"
          >
            ({{ group.members.length }}) {{ group.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-move-group-members
        [groups]="selectedGroups"
        [projectID]="data.project.projectID"
        (updateGroups)="updateGroups($event)"
      >
      </app-move-group-members>
      <mat-divider></mat-divider>
      <button
        mat-button
        style="margin-top: 10px"
        (click)="saveGroups()"
      >
        Save Groups
      </button>
    </mat-tab>
  </mat-tab-group>
</div>
