<h1 mat-dialog-title>Manage Groups</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="Groups">
      <div
        *ngIf="showEdit"
        style="margin-top: 20px"
      >
        <button 
          mat-icon-button
          matTooltip="Back"
          (click)="closeEdit()"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-form-field
          appearance="outline"
          style="width: 100%; margin-top: 20px"
        >
          <mat-label>Group Name</mat-label>
          <input
            name="editName"
            [formControl]="editNameControl"
            [errorStateMatcher]="matcher"
            [(ngModel)]="editGroup.name"
            matInput
            autocomplete="off"
            cdkFocusInitial
          />
          <mat-error *ngIf="!editNameControl.value">Group Name is <strong>required</strong></mat-error>
        </mat-form-field>
        <app-group-member-list
          [firstMembers]="editGroup.members"
          [fstGroupName]="'Current'"
          [secondMembers]="unassigned.members"
          [sndGroupName]="'Unassigned'"
          (updateFirstGroup)="updateGroupMembers($event)"
        >
        </app-group-member-list>
        <button
          type="submit"
          [disabled]="!editNameControl.valid"
          mat-button
          cdkFocusInitial
          (click)="updateGroup()"
        >
          Update
        </button>
      </div>
      <mat-list *ngIf="!showEdit">
        <div class="create-group-container">
          <mat-form-field
            appearance="outline"
            class="create-group-form"
          >
            <mat-label>Group Name</mat-label>
            <input
              name="groupName"
              [formControl]="groupNameControl"
              [errorStateMatcher]="matcher"
              matInput
              autocomplete="off"
              cdkFocusInitial
            />
            <mat-error *ngIf="!groupNameControl.value">Group Name is <strong>required</strong></mat-error>
          </mat-form-field>
          <button
            type="submit"
            [disabled]="!groupNameControl.valid"
            mat-button
            class="create-group-submit"
            (click)="createGroup()"
            cdkFocusInitial
          >
            Create
          </button>
        </div>
        
        <div mat-subheader>Groups: {{ groups.length }}</div>
        <mat-list-item *ngFor="let group of groups">
          <mat-icon mat-list-icon>group</mat-icon>
          <div mat-line>{{ group.name }}</div>
          <button 
            mat-icon-button
            matTooltip="Edit Group"
            (click)="openEdit(group)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button 
            mat-icon-button
            matTooltip="Delete Group"
            (click)="deleteGroup(group)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Multi-Group Assign">
    </mat-tab>
  </mat-tab-group>
</div>
