<h1 mat-dialog-title>
  <div style="display: flex;">
    <span>CK List</span>
    <button
      mat-icon-button
      matTooltip="Create Post"
      (click)="openAddPostDialog()"
      style="margin:0; padding:0;line-height: inherit;height: inherit;"
    >
      <mat-icon class="material-icons-outlined">note_add</mat-icon>
    </button>
  </div>
  <button mat-icon-button [mat-dialog-close] aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<h3
  *ngIf="!loading && posts.length == 0"
  style="color: grey; text-align: center"
>
  No posts created!
</h3>
<div mat-dialog-content (scroll)="onScroll($event)">
  <mat-chip-list>
    <div style="margin-bottom: 2em">
      <mat-chip
        [ngStyle]="{ 'background-color': tag.color }"
        *ngFor="let tag of activeFilters"
      >
        {{ tag.name }}
        <mat-icon class="cancel" (click)="removeFilter(tag)">cancel</mat-icon>
      </mat-chip>
      <mat-chip
        style="background-color: #78c2c0"
        [matMenuTriggerFor]="menu1"
        *ngIf="posts && !loading"
      >
        Filter By Tag
        <mat-icon>add</mat-icon>
      </mat-chip>
    </div>
  </mat-chip-list>
  <mat-menu #menu1="matMenu">
    <div mat-menu-item *ngIf="filterOptions.length == 0">
      No tags available.
    </div>
    <div
      mat-menu-item
      *ngFor="let tag of filterOptions"
      (click)="addFilter(tag)"
    >
      {{ tag.name }}
    </div>
  </mat-menu>
  <div class="post-list" *ngIf="!loading">
    <app-html-post
      [post]="post"
      *ngFor="let post of filteredPosts"
    ></app-html-post>
  </div>
</div>
