<div class="wrapper">
    <div class="container">
        <img src="../../assets/register.png" />
        <div class="formContainer">
            <div>
                <h1 class="header">Join Us Today!</h1> 
                <div>
                    <div *ngIf="step == 0">
                        <h2>Which one are you?</h2>
                        <div class="selectContainer">
                            <div class="selectBox" [ngClass]="role == Role.STUDENT ? 'active' : ''" (click)="role = Role.STUDENT">
                                <h1 class="title">Student</h1>
                                <div class="graphic">
                                    <img src="../../assets/student.png" />
                                </div>
                            </div>
                            <div class="selectBox" [ngClass]="role == Role.TEACHER ? 'active' : ''" (click)="role = Role.TEACHER">
                                <h1 class="title">Teacher</h1>
                                <div class="graphic">
                                    <img src="../../assets/teacher.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <form (ngSubmit)="onRegister()">
                        <div *ngIf="step == 1" class="credentialsContainer">
                            <p class="label">Display Name</p>
                            <mat-form-field appearance="fill" style="width: 80%">
                                <mat-label>Display Name</mat-label>
                                <input [formControl]="usernameControl" [errorStateMatcher]="matcher" matInput [(ngModel)]="username"/>
                                <mat-hint *ngIf="!username || username.length < 1 || username.length > 25">Display Name is required (1-25 characters)</mat-hint>
                            </mat-form-field>
                            <p class="label">Email</p>
                            <mat-form-field appearance="fill" style="width: 80%">
                                <mat-label>Email</mat-label>
                                <input autocomplete="username" type="email" [formControl]="emailControl" [errorStateMatcher]="matcher" matInput [(ngModel)]="email" name="username"/>
                                <mat-hint *ngIf="!email">Valid email is required</mat-hint>
                            </mat-form-field>
                            <p class="label">Password</p>
                            <mat-form-field appearance="fill" style="width: 80%">
                                <mat-label>Password</mat-label>
                                <input autocomplete="new-password" type="password" [formControl]="passwordControl" [errorStateMatcher]="matcher" matInput [(ngModel)]="password" name="password"/>
                                <mat-hint *ngIf="!password || password.length < 12 || password.length > 30">Password is required (12-30 characters)</mat-hint>
                            </mat-form-field>
                            <p *ngIf="invalidCredentials" class="invalid-pass">Unable to register account!</p>
                        </div>
                        <div *ngIf="step == 0" class="next" (click)="step = 1">
                            <button class="enabled">Next</button>
                        </div>
                        <div *ngIf="step == 1" class="next" >
                            <button type="submit" [ngClass]="!usernameControl.valid || !passwordControl.valid ? 'disabled' : 'enabled'" [disabled]="!usernameControl.valid || !passwordControl.valid" mat-button>Register</button>
                        </div>
                        <div *ngIf="step == 1" class="next" (click)="step = 0">
                            <button class="enabled">Back</button>
                        </div>
                    </form>
                </div>
            </div>
            <p class="alternate"><a routerLink="/login">Already have an account?</a></p>
        </div>
    </div>
</div>
