<div class="app">
    <app-toolbar [user]="user">
      <span>Common Knowledge Board</span>
      <span style="flex: 1 1 auto"></span>
      <button 
        mat-icon-button 
        [matMenuTriggerFor]="addMenu" 
        *ngIf="user && user.role == Role.TEACHER" 
        matTooltip="Create Project or Board">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #addMenu="matMenu" >
        <button 
          mat-menu-item  
          (click)="openCreateProjectDialog()">
            Create Project
        </button>
        <button mat-menu-item (click)="openCreateBoardDialog()" *ngIf="yourProjects.length >0" >
            Create Board
        </button>
      </mat-menu>
      <button 
        mat-icon-button 
        (click)="openJoinProjectDialog()"
        matTooltip="Join Project" >
          <mat-icon>group_add</mat-icon>
      </button>
    </app-toolbar>
    <div class="content">
      <h3 class="mat-title heading">My Projects</h3>
      <div class="cards">
        <ng-container *ngFor="let project of yourProjects">
          <mat-card
            class="card"
            (click)="handleProjectClick(project.projectID)"
            (keyup.enter)="handleProjectClick(project.projectID)"
            role="button"
            tabindex="0">
            <mat-card-title class="title">{{ project.name }}</mat-card-title>
            <mat-card-content>
              <p>
                {{ project.members.length + " members"}}
              </p>
              <p>
                {{ project.boards.length + " boards"}}
              </p>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
</div>