<div class="group-member-list">
  <div cdkDropListGroup>
    <div *ngFor="let group of groupMembers; let i = index">
      <span>{{ group.groupName }}</span>
      <div
        cdkDropList
        [cdkDropListData]="group.members"
        (cdkDropListDropped)="drop($event)"
        class="member-list"
      >
        <div
          cdkDrag
          *ngFor="let member of group.members; let j = index"
          class="member-box"
        >
          {{ member.username }}
          <button 
            mat-icon-button
            matTooltip="Remove from group"
            (click)="removeMember(i, j)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="groups.length !== 0">
      <span>Unassigned</span>
      <div
        cdkDropList
        [cdkDropListData]="unassigned"
        (cdkDropListDropped)="drop($event)"
        class="member-list"
      >
        <div
          cdkDrag
          *ngFor="let member of unassigned"
          class="member-box"
        >
          <span>{{ member.username }}</span>
        </div>
      </div>
    </div>
  </div>
</div>