<div>
  <app-toolbar *ngIf="user && project && board" [user]="user" style="width: 100%;">
    <span *ngIf="board">CK Workspace - {{ this.board.name }}</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button routerLink="{{'/project/'+project.projectID+'/board/'+board.boardID}}" matTooltip="Back to Board">
      <mat-icon>keyboard_return</mat-icon>
    </button>
    <button mat-icon-button matTooltip="View Groups">
      <mat-icon>group</mat-icon>
    </button>
    <button mat-icon-button *ngIf="!(user && user.role == Role.STUDENT && !board.permissions.showBucketStudent)" (click)="showBucketsModal()" matTooltip="View Buckets">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <button mat-icon-button (click)="showListModal()" matTooltip="List Posts">
      <mat-icon>list_alt</mat-icon>
    </button>
  </app-toolbar>
  <div style="display: flex; flex-direction: row">
    <div *ngIf="activeTasks && inactiveTasks" style="flex: 3;">
      <mat-list>
        <div mat-subheader>Active Task Workflows ({{ activeTasks.length }})</div>
        <mat-list-item *ngFor="let task of activeTasks">
          <mat-icon matListIcon>timeline</mat-icon>
          <h3 matLine> {{task.name}} </h3>
          <p matLine class="list-task-prompt"> {{task.prompt}} </p>
          <span style="flex: 1 1 auto"></span>
          <button mat-raised-button color="basic">View Details</button>
          <button mat-raised-button color="primary" style="margin-left: 10px;">Begin Task</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Inactive Task Workflows ({{ inactiveTasks.length }})</div>
        <mat-list-item *ngFor="let task of inactiveTasks">
          <mat-icon matListIcon>timeline</mat-icon>
          <h3 matLine> {{task.name}} </h3>
          <p matLine class="list-task-prompt"> {{task.prompt}} </p>
          <span style="flex: 1 1 auto"></span>
          <button mat-raised-button color="basic">View Details</button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div *ngIf="taskMode" style="flex: 2;">
      <mat-card class="example-card" style="width: 400px; margin: 30px auto">
        <mat-card-title>Task Workflow Name</mat-card-title>
        <mat-card-content>
          <p>Prompt goes here. Prompt goes here. Prompt goes here. Prompt goes here. Prompt goes here. Prompt goes here. </p>
        </mat-card-content>
        <div style="margin-bottom: 10px;">
          <label class="example-margin">Your Group's Progress</label>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </div>
        <div>
          <label class="example-margin">Avg. Group's Progress</label>
          <mat-progress-bar mode="determinate" value="65" color="accent"></mat-progress-bar>
        </div>
      </mat-card>
      <swiper [effect]="'cards'" [grabCursor]="true" class="mySwiper" (slideChange)="onSwiper($event)">
        <ng-template swiperSlide *ngFor="let htmlPost of posts">
          <div (click)="$event.stopPropagation();" style="display: flex; flex-direction: column; gap: 10px;">
            <app-html-post (click)="$event.stopPropagation();" [post]="htmlPost" style="width: 360px; height: 100%;"></app-html-post>
            <div style="display: flex; flex-direction: row;">
              <button (click)="swiper.swiperRef.slidePrev()" mat-raised-button color="accent" style="width: 50%; margin: 0px 10px;">Previous</button>
              <button mat-raised-button color="primary" style="width: 50%; margin: 0px 10px;">Submit</button>
              <button (click)="swiper.swiperRef.slideNext()" mat-raised-button color="accent" style="width: 50%; margin: 0px 10px;">Next</button>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
