.bucket-card {
  cursor: pointer;

  width: 24.9vw;

  padding: 8px 8px 15px 8px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;

  word-wrap: break-word;

  background-color: #f4d74b;
}
