<mat-card class="bucket-card" (click)="openPostDialog()" *ngIf="exists">
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.userID }}</mat-card-subtitle>
    <mat-chip-list>
      <mat-chip color="primary" selected *ngFor="let tag of post.tags">{{ tag }}</mat-chip>
    </mat-chip-list>
    <mat-card-content class="content">
      <p>{{ post.desc }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="handleLike(); $event.stopPropagation()">
        <mat-icon *ngIf="isLiked">thumb_up</mat-icon>
        <i class="material-icons-outlined" *ngIf="!isLiked">thumb_up</i>
        {{numLikes}}
      </button>
      <button mat-button>
        <mat-icon>comment</mat-icon>
        {{numComments}}
      </button>
    </mat-card-actions>
</mat-card>
