<mat-card class="bucket-card" (click)="openPostDialog()">
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.userID }}</mat-card-subtitle>
    <mat-card-content>
      <p>{{ post.desc }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button icon>
        <mat-icon>thumb_up</mat-icon>
        {{numLikes}}
      </button>
      <button mat-button>
        <mat-icon>comment</mat-icon>
        {{numComments}}
      </button>
    </mat-card-actions>
</mat-card>
