@use '../../../style/layout/post-list';

.mat-dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-dialog-content {
  max-height: 75vh;
}

.mat-paginator {
  display: flex;
  justify-content: center;
} 

.spinner {
  margin: 70px auto;
  background: transparent;
}

.header {
  display: flex; 
  flex-direction: row;
}