.list-accordion {
  padding: 10px;
}

.list-accordion .mat-expansion-panel-header-title,
.list-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
  align-items: center;
}

.list-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
}

.source-destination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow-icon-md {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

.arrow-icon-lg {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}

.source-dest-info {
  display: flex;
  flex-direction: row;

  padding: 20px 0px;
}

#workflow-action-run {
  padding: 0px 5px;
  color: green;
}

#workflow-action-delete {
  padding: 0px 5px;
  color: rgba(255, 0, 0, 0.708);
}

#bucket-action-delete {
  position: absolute; 
  right:0;
}

.delete-toggler {
  padding: 0 !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-form-field {
  margin-bottom: -10px;
}

mat-chip {
  height: auto; // overrides default height 1px
  line-height: 1.1em; // keeps chip from "squaring out" at one line
}
