.drawer-container {
  flex: 1;
}

.toolbar {
  width: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.drawer-container {
  position: absolute;
  padding-top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  @media (min-width: breakpoint('sm', 'min')) {
    padding-top: 64px;
  }
}

mat-sidenav {
  width: 30%;
  height: 100%;
}

mat-sidenav-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 90vh;
}

.section-title{
  padding: 10px 15px;
  margin: 0px !important; 
}