<app-toolbar class="toolbar" *ngIf="!embedded" [user]="user" style="width: 100%;">
  <span *ngIf="project">CK Todo - {{ this.project.name }}</span>
  <button mat-icon-button *ngIf="user.role === Role.TEACHER" (click)="copyEmbedCode()" matTooltip="Copy embeddable URL">
      <mat-icon>file_copy</mat-icon>
    </button>
  <span style="flex: 1 1 auto"></span>
  <button mat-icon-button routerLink="{{'/project/'+project.projectID}}" matTooltip="Back to Project">
    <mat-icon>keyboard_return</mat-icon>
  </button>
</app-toolbar>
<div class="todoModalWrapper">
  <mat-sidenav-container class="drawer-container">
    <mat-sidenav *ngIf="user.role === Role.TEACHER" #drawer mode="side" opened [fixedInViewport]="!embedded ? true : false" [fixedTopGap]="64" style="position: fixed">
      <h2 class="section-title">Project Members</h2>
      <mat-list>
        <mat-list-item *ngFor="let user of projectMembers">
            <mat-icon *ngIf="user.role === Role.TEACHER" mat-list-icon>school</mat-icon>
            <mat-icon *ngIf="user.role === Role.STUDENT" mat-list-icon>person</mat-icon>
            <h3 matLine> {{user.username}} </h3>
            <span style="flex: 1 1 auto"></span>
            <button
              *ngIf="todoModalUser !== user.userID"
              mat-raised-button color="primary"
              style="margin-left: 10px; min-width: unset"
              (click)="openMemberTodoList(user)"
            >
              Show Todo
            </button>
            <button
              *ngIf="todoModalUser === user.userID"
              mat-raised-button color="primary"
              style="margin-left: 10px; min-width: unset"
              (click)="closeTodoList()"
            >
              Hide Todo
            </button>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content class="ck-todo-content">
      <div *ngIf="!todoModalUser" class="heading no-todo-select">
        No Todo List Selected
        <mat-progress-bar class="mat-loading-progress-bar" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      </div>
      <app-todo-list-modal
        *ngIf="todoModalUser"
        class="todo-list-modal"
        [projectID]="project.projectID"
        [userID]="todoModalUser"
        [class.spinner]="loading"
      ></app-todo-list-modal>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
