<h1 mat-dialog-title>Project Member Todo List</h1>
<div mat-dialog-content>
  <h3>
    <b>View Todo List for all members in this Project:</b>
  </h3>
  <div 
    class="mat-elevation-z3" 
    style="display: grid; grid-template-columns: 1fr 1fr;overflow-y:auto;max-height:400px;margin:5px 0" 
  >
    <mat-card *ngFor="let user of projectMembers" style="display:flex;margin: 10px;
        padding: 10px;justify-content:space-between">
      <mat-card-title style="font-size: small;margin:auto 0;">
        {{ user.username }}
      </mat-card-title>
      <button 
        mat-icon-button
        (click)="openMemberTodoList(user)"
      >
        <mat-icon>launch</mat-icon>
      </button>
    </mat-card>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    Close
  </button>
</div>
