<h1 mat-dialog-title>Add Post</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Title</mat-label>
    <input
      name="title"
      [appAutofocus]="true"
      [formControl]="titleControl"
      [errorStateMatcher]="matcher"
      matInput
      autocomplete="off"
      [(ngModel)]="title"
    />
    <mat-error *ngIf="!title"> Title is <strong>required</strong> </mat-error>
    <mat-error *ngIf="title && title.length > 50">
      Title is <strong>too long!</strong>
    </mat-error>
  </mat-form-field>

  <div *ngIf="questionAuthoringType === 'OPEN_RESPONSE'" >
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Add open response question prompt</mat-label>
      <textarea
        [formControl]="msgControl"
        [errorStateMatcher]="matcher"
        matInput
        rows="5"
        cols="40"
        [(ngModel)]="message"
      ></textarea>
      <mat-error *ngIf="message && message.length > 1000">
        Message is <strong>too long!</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div *ngIf="questionAuthoringType === 'MULTIPLE_CHOICE'" style="position: relative;">
    <div>
      <mat-form-field 
        appearance="outline"
        style="width: 85%"
      >
        <mat-label>New Multiple Choice Option</mat-label>
        <input matInput [(ngModel)]="newMultipleChoiceOptionTest" (keyup.enter)="addMultipleChoiceButton()" />
      </mat-form-field>
      <mat-chip>
        <button
          style="margin-left: 10px;"
          mat-mini-fab
          color="accent"
          matTooltip="Add Multiple Choice Option"
          matTooltipPosition="before"
          (click)="addMultipleChoiceButton()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-chip>
    </div>
    




    <!-- <div *ngFor="let option of [0, 1, 2, 3]">
      <mat-form-field
        appearance="outline"
        style="width: 100%"
      >
        <mat-label>Option {{option}}</mat-label>
        <input
          matInput
          required
          minlength="1"
        />
      </mat-form-field>
    </div>
    <mat-chip>
      <button
        mat-mini-fab
        color="accent"
        matTooltip="Add Multiple Choice Option"
        matTooltipPosition="before"
        (click)="addMultipleChoiceButton()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-chip> -->
  </div>






  <mat-form-field class="tag-form" appearance="standard">
    <mat-chip-list #chipList>
      <mat-chip style="background-color: #78c2c0" [matMenuTriggerFor]="menu1">
        Add Tag
        <mat-icon>add</mat-icon>
      </mat-chip>
      <mat-chip
        [ngStyle]="{ 'background-color': tag.color }"
        *ngFor="let tag of tags"
      >
        {{ tag.name }}
        <mat-icon class="cancel" (click)="removeTag(tag)">cancel</mat-icon>
      </mat-chip>
      <mat-menu #menu1="matMenu">
        <div mat-menu-item *ngIf="tagOptions && tagOptions.length == 0">
          No tags available.
        </div>
        <div
          mat-menu-item
          (click)="addTag($event, tagOption)"
          *ngFor="let tagOption of tagOptions"
        >
          {{ tagOption.name }}
        </div>
      </mat-menu>
    </mat-chip-list>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    type="submit"
    [disabled]="!titleControl.valid || !msgControl.valid"
    mat-button
    (click)="handleDialogSubmit()"
    cdkFocusInitial
  >
    Add Post
  </button>
</div>
