@use '../../../style/layout/post-list';

.container {
    height: 100vh;
    padding: 15px;

    .heading{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .mat-dialog-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mat-dialog-content {
        max-height: 75vh;
    }

    .mat-paginator {
        display: flex;
        justify-content: center;
    }

    .spinner {
        margin: 70px auto;
        background: transparent;
    }

    .header {
        display: flex;
        flex-direction: row;
    }

    .buckets {
        height: 60vh;
        border: 1px rgb(196, 193, 193);
        border-style: solid;
        border-radius: 4px;
        display: flex;
        justify-content: center;

        h3, div {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bucket {
            flex-direction: column;
            display: flex;
            padding-top: 10px;
            border: 1px solid rgb(220, 219, 219);

            .post-list{
              display: grid;
              grid-gap: 1em;
              grid-template-columns: minmax(280px, 1fr);
              padding-bottom: 10px;
            }

            .header {
                flex: 0;
                border-bottom: 1px solid rgb(220, 219, 219);
                width: 100%;
            }
        }
    }
}