<app-toolbar *ngIf="user" [user]="user">
    <span class="toolbarTitle" *ngIf="board && board.name">{{ board.name }}</span>
    <button mat-icon-button *ngIf="user.role === Role.TEACHER"
        (click)="board.scope === BoardScope.PROJECT_SHARED ? copyEmbedCode() : copyPersonalEmbedCode()"
        matTooltip="Copy embeddable URL">
        <mat-icon>file_copy</mat-icon>
    </button>
    <span style="flex: 1 1 auto"></span>
    <button navbarMenu mat-icon-button [matMenuTriggerFor]="navbarMenu">
        <mat-icon>dehaze</mat-icon>
    </button>
    <mat-menu #navbarMenu="matMenu">
        <button mat-menu-item><mat-icon>list_alt</mat-icon>List Posts</button>
        <a href="https://score.oise.utoronto.ca/" style="text-decoration:none;color:black" target="_blank">
            <button mat-menu-item style="text-decoration:none;color:black">
                <mat-icon>launch</mat-icon>
                Go to SCORE
            </button>
        </a>
        <button mat-menu-item (click)="signOut()">
            <mat-icon class="material-icons-outlined">logout</mat-icon>
            Log Out
        </button>
    </mat-menu>
</app-toolbar>
<div class="container">
    <h1 mat-dialog-title>
        <span>CK Buckets</span>
        <button mat-icon-button [mat-dialog-close] aria-label="Close">
            <mat-icon>close</mat-icon>
        </button>
    </h1>
</div>