.avatar {
  background-image: url('https://www.mtsolar.us/wp-content/uploads/2020/04/avatar-placeholder.png');
  background-size: cover;
}

.comment-area {
  overflow-y: auto;
  min-height: 110px;
}

.comment-box {
  overflow-y: auto;
  word-wrap: break-word;
  max-height: 300px;
  margin-bottom: 3px;
}

.comment-delete {
    position: absolute; 
    right: 0; 
    top: 5.5px;
    display: none;
}

.comment-toggler {
  padding: 0 !important;
}

.comment {
  background-color: #f5f5f5;
  border-radius: 0%;
}

.comment:hover .comment-delete {
    display: block;
}

.add-comment {
  width: 100%;
  margin-bottom: -1.3em;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.details {
  box-shadow: none !important;
  padding: 0 !important;
}

.mat-dialog-actions {
  min-height: 20px !important;
}

.tag-form {
  width: 100%;
}

.cancel {
  padding-left: 10px;
  width: 15px;
  height: 15px;
  font-size: medium;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
