<h1 mat-dialog-title>Board Configuration</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="Board"> 
      <mat-form-field appearance="outline" style="width:100%; margin-top: 20px;">
        <mat-label>Board Name</mat-label>
        <input matInput [(ngModel)]="boardName">
      </mat-form-field>
      <h4>Set Background Image:</h4>
      <input ng-hide id="input-file-id" type="file" accept=".jpeg,.jpg,.png,.svg" (change)="handleImageUpload($event)" style="margin-bottom: 20px;"/>
    </mat-tab>
    <mat-tab label="Task">
      <mat-form-field appearance="outline" style="width:100%; margin-top: 20px;">
        <mat-label>Task Title</mat-label>
        <input matInput [(ngModel)]="taskTitle">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Task Message</mat-label>
        <textarea matInput rows="5" cols="40" [(ngModel)]='taskMessage'></textarea>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Permissions">
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowStudentMoveAny">Allow students to move any post</mat-checkbox>
      </p>
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowStudentEditAddDeletePost" >Allow students to create, edit, and delete posts</mat-checkbox>
      </p>
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowStudentLiking" >Allow students to like posts</mat-checkbox>
      </p>
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowStudentCommenting" >Allow students to comment on posts</mat-checkbox>
      </p>
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowStudentTagging" >Allow students to tag posts</mat-checkbox>
      </p>
    </mat-tab>
    <mat-tab label="Tags">
      <mat-form-field appearance="fill" style="width:100%; margin-top: 20px;">
        <mat-label>Current Tags</mat-label>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of tags">
            {{ tag }}
            <mat-icon class="cancel" (click)="removeTag(tag)">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New tag..."
                 [(ngModel)]="newTagText"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="false"
                 (matChipInputTokenEnd)="addTag()">
        </mat-chip-list>
      </mat-form-field>
      <button mat-button [disabled]="newTagText.length < 1" color="primary" (click)="addTag()">Add Tag</button>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="handleDialogSubmit()" cdkFocusInitial>Create Board!</button>
</div>