.tags-list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-title {
  margin: 20px 0px 10px;
}

.board-name-form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.board-name-form > .chip {
  margin-top: -1.6em; // account for margin + padding from form field
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.chip {
  width: 45%;
}

.chip > span {
  margin: auto;
}

.config-button-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (min-width: breakpoint('md', 'min')) {
    grid-template-columns: 1fr;
    max-width: breakpoint('lg', 'min');
  }
}

.config-button {
  margin:5px
}

.chip-icon {
  padding-right: 10px;
  width: 12px;
  height: 15px;
  font-size: medium;
}

.image-form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.bg-position {
  display: flex;
  flex-direction: column;
}

.bg-position-form {
  margin-top: 15px;
  display: inline-flex;
  gap: 20px;
}

.container {
  width: 100%;
  display: inline-flex;
  gap: 30px;
}

.image-form > * {
  margin: 5px 0;
}

.cancel {
  padding-left: 10px;
  width: 12px;
  height: 15px;
  font-size: medium;
}

.slider {
  width: 100%;
}
