<h1 mat-dialog-title>Board Configuration</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="Board">
      <div class="board-name-form">
        <mat-form-field
          appearance="outline"
          style="width: 45%;"
        >
          <mat-label>Board Name</mat-label>
          <input
            matInput
            [(ngModel)]="boardName"
            #boardNameInput="ngModel"
            required
          />
          <mat-error *ngIf="boardNameInput.invalid">
            Board Name is required.
          </mat-error>
        </mat-form-field>
        <mat-chip
          class="chip"
          color="accent"
          selected
          (click)="copyToClipboard()"
        >
          <span>Copy Embeddable Board URL</span>
        </mat-chip>
      </div>
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowTracing"
          >Allow tracing of board activity
        </mat-checkbox>
      </p>
      <p>
        <mat-checkbox [(ngModel)]="permissions.showSnackBarStudent"
          >Display task description when board is opened
          </mat-checkbox>
      </p>
      <div>
        <mat-label style="font-weight: bold"
          >Initial Zoom: {{ initialZoom }}%</mat-label
        >
        <mat-slider
          class="slider"
          min="0"
          max="200"
          step="5"
          [(ngModel)]="initialZoom"
          thumbLabel
        ></mat-slider>
      </div>
      
      <h2 class="section-title">Voting</h2>
      <div>
        <mat-label style="font-weight: bold"
          >Maximum Upvotes Per Student: {{ upvoteLimit }}</mat-label
        >
        <mat-slider
          class="slider"
          min="0"
          max="10"
          step="1"
          [(ngModel)]="upvoteLimit"
          thumbLabel
        ></mat-slider>
        <mat-chip class="config-button" mat-raised-button color="warn" (click)="openVoteDeleteDialog()" style="text-align: center" selected>
          <mat-icon class="chip-icon" >clear_all</mat-icon>
          <span style="width: 100%;text-align: center;">
          Clear Votes
          </span>
        </mat-chip>
      </div>

      <h2 class="section-title">Background</h2>
      <div class="image-form">
        <div class="container">
          <mat-chip
            class="chip"
            color="primary"
            selected
            (click)="compressFile()"
          >
            <mat-icon class="chip-icon" (click)="removeImage()">upload</mat-icon>
            <span>Upload New Background Image</span>
          </mat-chip>
          <mat-chip
            class="chip"
            *ngIf="currentBgImage && currentBgImage.url"
            color="warn"
            selected
            (click)="removeImage()"
          >
            <mat-icon class="chip-icon">cancel</mat-icon>
            <span>Remove Current Background Image</span>
          </mat-chip>
        </div>
        <div *ngIf="currentBgImage">
          <div style="margin-top: 15px">
            <mat-label style="font-weight: bold">Background Size: {{ backgroundScale }}%</mat-label>
            <mat-slider
              class="slider"
              min="0"
              max="1000"
              step="5"
              [(ngModel)]="backgroundScale"
              thumbLabel
            ></mat-slider>
          </div>
          <div class="bg-position">
            <mat-label style="font-weight: bold">Background Position</mat-label>
            <div class="bg-position-form">
              <mat-form-field>
                <mat-label>Background Pos X</mat-label>
                <input
                  matInput
                  type="number"
                  [(ngModel)]="backgroundPosX"
                />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Background Pos Y</mat-label>
                <input
                  matInput
                  type="number"
                  [(ngModel)]="backgroundPosY"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <h2 class="section-title">Content Settings</h2>
      <div style="display: grid; grid-template-columns: 1fr 1fr;">
        <mat-chip class="config-button" *ngIf="board.scope === BoardScope.PROJECT_PERSONAL" mat-raised-button color="accent" (click)="copyConfiguration()" style="text-align: center" selected>
          <mat-icon class="chip-icon" style="width: 0px;overflow: initial;">file_copy</mat-icon>
          <span style="width: 100%; text-align: center; font-size: smaller;">
            Copy Configuration to all Personal {{isTeacherPersonalBoard ? 'Teacher' : 'Student'}} Boards
          </span>
        </mat-chip>
        <mat-chip class="config-button" mat-raised-button color="warn" (click)="handleClearBoard()" style="text-align: center" selected>
          <mat-icon class="chip-icon" style="width: 0px;overflow: initial;">clear_all</mat-icon>
          <span style="width: 100%;text-align: center;">
          Clear Board
          </span>
        </mat-chip>
        <mat-chip class="config-button" mat-raised-button color="warn" (click)="handleDeleteBoard()" style="text-align: center" selected>
          <mat-icon class="chip-icon" style="width: 0px;overflow: initial;">delete</mat-icon>
          <span style="width: 100%;text-align: center;">
          Delete Board
          </span>
        </mat-chip>
        <mat-chip mat-raised-button color="warn">jdshfgkah</mat-chip>
      </div>
    </mat-tab>
    <mat-tab label="Task">
      <mat-form-field
        appearance="outline"
        style="width: 100%; margin-top: 20px"
      >
        <mat-label>Task Title</mat-label>
        <input matInput [(ngModel)]="taskTitle" #taskTitleInput="ngModel" />
        <mat-hint
          class="mat-error"
          *ngIf="
            (taskMessage && !taskTitle.trim()) ||
            (taskTitle && !taskTitle.trim())
          "
        >
          Task Title is required.
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Task Message</mat-label>
        <textarea
          matInput
          rows="5"
          cols="40"
          [(ngModel)]="taskMessage"
        ></textarea>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Permissions">
      <h2 style="margin-top: 20px">Post Features</h2>
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowStudentMoveAny"
          >Allow students to move any post</mat-checkbox>
      </p>
      <h2 style="margin-top: 20px">Post Features</h2>
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowStudentEditAddDeletePost"
          >Allow students to create, edit, and delete posts</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowStudentUpvoting"
          >Allow students to upvote posts</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowStudentCommenting"
          >Allow students to comment on posts</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox [(ngModel)]="permissions.allowStudentTagging"
          >Allow students to tag posts</mat-checkbox
        >
      </p>
      <h2>Anonymization</h2>
      <p>
        <mat-checkbox [(ngModel)]="permissions.showAuthorNameStudent"
          >Show author names to students</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox [(ngModel)]="permissions.showAuthorNameTeacher"
          >Show author names to teachers</mat-checkbox
        >
      </p>
      <h2>UI Elements</h2>
      <p>
        <mat-checkbox [(ngModel)]="permissions.showBucketStudent"
          >Show buckets to students</mat-checkbox
        >
      </p>
    </mat-tab>
    <mat-tab label="Tags">
      <div class="tags-list">
        <mat-chip-list>
          <mat-chip
            *ngFor="let tag of tags"
            [ngStyle]="{ 'background-color': tag.color }"
          >
            {{ tag.name }}
            <mat-icon class="cancel" (click)="removeTag(tag)">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>New Tag Name...</mat-label>
        <input matInput [(ngModel)]="newTagText" (keyup.enter)="addTag()" />
        <button mat-icon-button matSuffix>
          <mat-icon [(colorPicker)]="newTagColor" [style.color]="newTagColor">
            circle
          </mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-button
        [disabled]="newTagText.length < 1"
        color="primary"
        (click)="addTag()"
      >
        Add Tag
      </button>
      <button
        mat-button
        [disabled]="newTagColor === tagDefaultColor"
        color="primary"
        (click)="resetColor()"
      >
        Reset Color
      </button>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    (click)="handleDialogSubmit()"
    [disabled]="
      (taskMessage && !taskTitle.trim()) ||
      (taskTitle && !taskTitle.trim()) ||
      boardNameInput.invalid
    "
    cdkFocusInitial
  >
    Update Configuration!
  </button>
</div>