<div class="wrapper">
    <div class="container">
      <div class="form-image-wrapper">
        <img class="form-image" src="../../assets/Login.png" alt="CK Board login picture" />
      </div>
      <div class="form-container">
        <form class="form" (ngSubmit)="onSubmit()">
          <div class="welcome">
            <img class="logo" src="/assets/encore-logo.png" alt="Encore Lab logo" />
            <h1 class="header">Common Knowledge Board</h1>
          </div>
          <div class="credentials-container">
            <p>Enter your new password below.</p>
            <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required />
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Confirm New Password</mat-label>
                <input matInput type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
            </mat-form-field>
            <p *ngIf="message" class="message">{{ message }}</p>
          </div>
          <div class="next">
              <button mat-raised-button color="primary" (click)="onSubmit()"
              [disabled]="!newPassword || !confirmPassword || newPassword !== confirmPassword">Reset Password</button>
          </div>
          <div class="alternate">
              <a routerLink="/login">Back to Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>