<div class="app">
  <app-toolbar [user]="user">
    <span>Common Knowledge Board</span>
    <span style="flex: 1 1 auto"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="addMenu"
      *ngIf="user && user.role == Role.TEACHER"
      matTooltip="Create Project or Board"
    >
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #addMenu="matMenu">
      <button mat-menu-item (click)="openCreateProjectDialog()">
        Create Project
      </button>
      <button
        mat-menu-item
        (click)="openCreateBoardDialog()"
        *ngIf="yourProjects.length > 0"
      >
        Create Board
      </button>
    </mat-menu>
    <button
      mat-icon-button
      (click)="openJoinProjectDialog()"
      matTooltip="Join Project"
    >
      <mat-icon>group_add</mat-icon>
    </button>
  </app-toolbar>
  <div class="content">
    <h3 class="mat-title heading">My Projects</h3>
    <div class="cards">
      <ng-container *ngFor="let project of yourProjects">
        <mat-card
          class="card"
          (click)="handleProjectClick(project.projectID)"
          (keyup.enter)="handleProjectClick(project.projectID)"
          role="button"
          tabindex="0"
          [attr.aria-label]="'Open ' + project.name"
        >
          <mat-card-title class="title accent">
            <mat-icon color="accent">grid_view</mat-icon>
            <span>{{ project.name }}</span>
          </mat-card-title>
          <mat-card-content>
            <p [ngPlural]="project.members.length">
              <ng-template ngPluralCase="=0">0 members</ng-template>
              <ng-template ngPluralCase="=1">1 member</ng-template>
              <ng-template ngPluralCase="other">{{
                project.members.length + ' members'
              }}</ng-template>
            </p>
            <p [ngPlural]="project.boards.length">
              <ng-template ngPluralCase="=0">0 boards</ng-template>
              <ng-template ngPluralCase="=1">1 board</ng-template>
              <ng-template ngPluralCase="other">{{
                project.boards.length + ' boards'
              }}</ng-template>
            </p>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
