<div class="app">
    <h1 id="heading">{{ config.boardName ?? 'Sample Board' }}</h1>
    <div class="canvas-area">
        <canvas id="canvas"></canvas>
        <div class="toolSection">
            <div class="toolField">
                <button mat-fab color="primary" (click)="openNewPostDialog()">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-fab color="primary" (click)="removePost()">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-fab color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-fab color="primary" (click)="openSettingsDialog()">
                    <mat-icon>settings</mat-icon>
                </button>
                <button mat-fab color="primary" (click)="openTaskDialog()">
                    <mat-icon>task</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
