<h1 mat-dialog-title>Learner Model Configuration</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="Engagement Model">
      <div *ngIf="model" class="dimensions-list">
        <mat-chip-list>
          <mat-chip
            *ngFor="let dim of model.dimensions"
          >
            {{ dim }}
            <mat-icon class="cancel" (click)="removeDimension(dim)">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div style="padding-top: 10px;">
        <mat-form-field appearance="fill">
          <mat-label>New Dimension Name...</mat-label>
          <input matInput [(ngModel)]="newDimensionText" (keyup.enter)="addDimension()" />
        </mat-form-field>
        <button
          mat-button
          [disabled]="newDimensionText.length < 1"
          color="primary"
          (click)="addDimension()"
        >
          Add Dimension
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</div>