<h1 mat-dialog-title>CK Workflows</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="Create Bucket"> 
      <mat-form-field appearance="outline" style="width:100%; margin-top: 20px;">
        <mat-label>Bucket Name</mat-label>
        <input matInput [(ngModel)]="bucketName">
        <mat-hint class="mat-error" *ngIf="isError">{{ errorMessage }}</mat-hint>
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="createBucket()">Create Bucket!</button>
      </div>
    </mat-tab>
    <mat-tab label="Create Workflow"> 
      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button (click)="createWorkflow()">Create Workflow!</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>