<button navbarMenu mat-icon-button [matMenuTriggerFor]="navbarMenu">
    <mat-icon>dehaze</mat-icon>
</button>
<mat-menu #navbarMenu="matMenu">
    <button mat-menu-item *ngIf="user.role === Role.TEACHER && !!board && board.scope === BoardScope.PROJECT_SHARED" (click)="openWorkflowDialog()">
        <mat-icon>timeline</mat-icon>
        Manage Buckets & Workflows
    </button>
    <button mat-menu-item (click)="showListModal()">
        <mat-icon>list_alt</mat-icon>
        List Posts
    </button>
    <button mat-menu-item *ngIf="user && user.role === Role.TEACHER && !!project" (click)="openProjectTodoList()">
        <mat-icon>assignment_ind</mat-icon>
        View All Todo Lists
    </button>
    <button mat-menu-item *ngIf="user.role === Role.TEACHER && !!board && board.scope === BoardScope.PROJECT_SHARED" (click)="openGroupDialog()">
        <mat-icon>group_work</mat-icon>
        Manage Groups
    </button>
    <button mat-menu-item *ngIf="user.role === Role.TEACHER" (click)="openSettingsDialog()">
        <mat-icon>settings</mat-icon>
        Adjust Settings
    </button>
    <a href="https://score.oise.utoronto.ca/" style="text-decoration:none;color:black" target="_blank">
        <button mat-menu-item style="text-decoration:none;color:black">
            <mat-icon>launch</mat-icon>
            Go to SCORE
        </button>
    </a>
    <button mat-menu-item (click)="signOut()">
        <mat-icon class="material-icons-outlined">logout</mat-icon>
        Log Out
    </button>
</mat-menu>
