@use '../../../style/layout/login';

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-height: 100px;
  width: auto;
}

.invalid-pass {
  color: red;
  text-align: center;
}

.forgot-pass {
  font-size: 16px;
  text-align: center;
  margin: 0 0;
}
