@use '../../../style/layout/post-list';

.mat-dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-dialog-content {
  max-height: 75vh;
}

.tag-form {
  width: 100%;
}