.list {
  display: flex; 

  flex-flow: row wrap; 
  justify-content: space-evenly;
  row-gap: 10px;
}

::ng-deep .mat-dialog-container {
  overflow-y: hidden !important;
}

.tag-form {
  width: 100%;
}