@use 'sass:map';

// Variables

$breakpoints: (
  xs: (
    min: 0px,
    max: 599.98px
  ),
  sm: (
    min: 600px,
    max: 959.98px
  ),
  md: (
    min: 960px,
    max: 1279.98px
  ),
  lg: (
    min: 1280px,
    max: 1919.98px
  ),
  xl: (
    min: 1920px
  )
);

// Functions

// get breakpoint
// @param {String} $size - screen size, e.g. 'sm'
// @param {String} $val - size value, e.g. 'min'
@function breakpoint($size, $val) {
  @return map.get($breakpoints, $size, $val);
}
