@use '../style/base' as *;

// Signed out (login, register, forgot password)




// Signed in (dashboard, project dahboard, etc.)

app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.content {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 20px;

  @media (min-width: breakpoint('sm', 'min')) {
    top: 64px;
  }
}
