<div class="wrapper">
    <div class="container">
        <form class="formContainer" (ngSubmit)="onReset()">
            <div>
                <h1 class="header">Please Enter Your Associated Email Address</h1>
                <p class="subheader"></p>
                <div class="credentialsContainer">
                    <p class="label">Email</p>
                    <mat-form-field appearance="fill" style="width: 80%">
                        <mat-label>Email</mat-label>
                        <input autocomplete="username" type="email" matInput [(ngModel)]="email" name="username"/>
                    </mat-form-field>
                </div>
                <p *ngIf="mode === 'Missing Email'" class="invalid-pass">Please enter your email address</p>
                <p *ngIf="mode === 'Success'" class="success">A link to reset your password has been to your email</p>
                <p *ngIf="mode === 'Wrong Email'" class="invalid-pass">Your email has not been registered</p>
                <div class="next" >
                    <button type="submit" mat-button>Submit</button>
                    <a routerLink="/login" class="btn btn-link">
                        <button>Cancel</button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
