@import "~swiper/css";
@import "~swiper/css/effect-cards";

.toolbar {
  width: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.list-task-prompt {
  color: gray;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: grey;
}

.section-title {
  padding: 10px 15px;
  margin: 0px !important; 
}

.no-workflow-select {
  position: absolute; 
  top: 30%; 
  left: 40%;
}

.no-posts {
  width: 380px;
  height: 100%;

  margin: 20% 10%;
  text-align: center;
}

.swiper {
  width: 380px;
  height: 100%;

  margin: 30px 70px 0px 50px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;

  padding: 15px 0px;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(54, 94, 77);
} 

.drawer-container {
  position: absolute;
  padding-top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  @media (min-width: breakpoint('sm', 'min')) {
    padding-top: 64px;
  }
}

.subheader-button {
  width: 100%;
  text-align: left !important;
}

.sidebar-button {
  min-width: unset !important;
  margin-left: 10px !important;
}

mat-sidenav {
  width: 30%;
  height: 100%;
}

mat-sidenav-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-height: 90vh;
  overflow: hidden;
}

.table {
  width: 100%;
}

.mat-table {
  overflow-x: scroll;
}

.mat-header-cell {
  min-width: 120px;
}

.mat-column-type {
  min-width: 200px;
}

.mat-cell {
  padding: 10px !important;
}

.mat-column-progress{
  padding: 0 8px;
}

.mat-column-action{
  padding: 0 8px;
}

.mat-loading-progress-bar{
  margin-top: 10px;
}
