<h1 mat-dialog-title>Project Configuration</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="Project">
      <mat-form-field
        appearance="outline"
        style="width: 100%; margin-top: 20px"
      >
        <mat-label>Project Name</mat-label>
        <input matInput [(ngModel)]="projectName" />
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Members">
      <mat-list>
        <div mat-subheader>Invite Code: {{ data.project.joinCode }}</div>
        <div mat-subheader>Current Members</div>
        <mat-list-item *ngFor="let member of members">
          <mat-icon mat-list-icon>person</mat-icon>
          <div mat-line>{{ member }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-tab>
    <mat-tab label="Groups">
      <mat-list>
        <mat-expansion-panel [(expanded)]="createExpansion">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon color="primary">add_box</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Add a group
            </mat-panel-description>
          </mat-expansion-panel-header>

          <h3>Enter a new group name</h3>
          <mat-form-field appearance="outline">
            <mat-label>Group Name</mat-label>
            <input
              name="groupName"
              [formControl]="groupNameControl"
              [errorStateMatcher]="matcher"
              matInput
              autocomplete="off"
              cdkFocusInitial
            />
            <mat-error *ngIf="!groupNameControl.value"> Group Name is <strong>required</strong> </mat-error>
          </mat-form-field>
          <h3>Select students to add to your new group (optional)</h3>
          <mat-grid-list cols="2">
            <mat-grid-tile>
              <mat-list>
                <div mat-subheader>Current Members</div>
                <mat-list-item *ngFor="let member of members"> {{member}}</mat-list-item>
              </mat-list>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-list>
                <div mat-subheader>Unassigned</div>
                <mat-list-item *ngFor="let member of members"> {{member}}</mat-list-item>
              </mat-list>
            </mat-grid-tile>
          </mat-grid-list>
          <button
            type="submit"
            [disabled]="!groupNameControl.valid"
            mat-button
            (click)="handleCreateGroup()"
            cdkFocusInitial
          >
            Create
          </button>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon color="primary">sync_alt</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              Move Users
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <div mat-subheader>Groups: {{ groups.length }}</div>
        <mat-list-item *ngFor="let group of groups">
          <mat-icon mat-list-icon>group</mat-icon>
          <div mat-line>{{ group.name }}</div>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="handleDialogSubmit()" cdkFocusInitial>
    Update Configuration!
  </button>
</div>
