<h1 mat-dialog-title>Project Configuration</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="Project">
      <mat-form-field
        appearance="outline"
        style="width: 100%; margin-top: 20px"
      >
        <mat-label>Project Name</mat-label>
        <input matInput [(ngModel)]="nameEditable" />
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Members">
      <mat-list>
        <div mat-subheader>Membership Settings</div>
        <mat-checkbox [(ngModel)]="membershipDisabledEditable" #tooltip="matTooltip"
            matTooltip="When activated, no users can join this project.">
          Restrict users from joining this project
        </mat-checkbox>
        <div mat-subheader>Invite Codes</div>
        <div style="display: flex; flex-direction: column; row-gap: 10px;">
          <button mat-raised-button color="accent" [cdkCopyToClipboard]="project.studentJoinCode" #tooltip="matTooltip"
            matTooltip="Press to Copy to Clipboard">
            <mat-icon>file_copy</mat-icon>
            Copy Student Invite Code - {{project.studentJoinCode}}
          </button>
          <button mat-raised-button color="accent" [cdkCopyToClipboard]="project.teacherJoinCode" #tooltip="matTooltip"
            matTooltip="Press to Copy to Clipboard">
            <mat-icon>file_copy</mat-icon>
            Copy Teacher Invite Code - {{project.teacherJoinCode}}
          </button>
        </div>
        <div mat-subheader *ngIf="members">Current Members ({{members.length}})</div>
        <mat-list-item *ngFor="let member of members">
          <mat-icon *ngIf="member.role === Role.TEACHER" mat-list-icon>school</mat-icon>
          <mat-icon *ngIf="member.role === Role.STUDENT" mat-list-icon>person</mat-icon>
          <div mat-line>
            {{ member.username }}
          </div>
          <button  
            mat-icon-button 
            *ngIf="member.userID !== user.userID"
            (click)="removeUser(member)" 
            matTooltip="Remove User"  
          >
            <mat-icon >remove_circle</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="handleDialogSubmit()" cdkFocusInitial>
    Update Configuration!
  </button>
</div>
