<div>
    <app-toolbar
      class="toolbar"
      *ngIf="user && project" 
      [user]="user"
      style="width: 100%"
    >
      <button 
        mat-icon-button 
        routerLink="{{ '/project/' + project.projectID }}" 
        matTooltip="Return to Project Dashboard"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>SCORE Authoring - {{ project.name }}</span> 
      <span style="flex: 1 1 auto"></span>
      <app-toolbar-menu 
        navbarMenu
        [project]="project" 
      ></app-toolbar-menu>
    </app-toolbar>
  
    <div class="main-content"> 
  
      <div class="activities-pane"> 
        <h3>Activities</h3>
        <div class="activities-list" cdkDropList (cdkDropListDropped)="dropActivity($event)"> 
            <div 
              *ngFor="let activity of activities" 
              (click)="selectActivity(activity)"
              [class.selected]="selectedActivity?.activityID === activity.activityID" 
              cdkDrag 
            >
              <div class="activity-item">
                <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon> 
                {{ activity.name }}
                <div class="activity-buttons"> 
                <button mat-icon-button (click)="editActivity(activity)"> 
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="start(activity)"> 
                  <mat-icon>play_arrow</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <button mat-fab color="primary" class="add-activity-button" (click)="openCreateActivityModal()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
  
      <div class="content-and-resources">
        <div class="middle-pane">
          <button 
            mat-fab 
            color="primary" 
            class="add-resource-button" 
            (click)="toggleResourcesPane()"
            *ngIf="!showResourcesPane && selectedActivity" 
          > 
            <mat-icon>add</mat-icon>
          </button>
          <h3 *ngIf="selectedActivity">{{ selectedActivity.name }}</h3>
          <h4 *ngIf="selectedActivity">Activity Space: {{ selectedBoardName }}</h4>
          <div class="activity-resources-list" 
            cdkDropList 
            (cdkDropListDropped)="dropResource($event)" 
          >
            <div *ngFor="let resource of selectedActivityResources; let i = index" cdkDrag>
              <div 
                class="resource-item" 
                [class.canvas]="resource.canvas" 
                [class.bucketView]="resource.bucketView"
                [class.workspace]="resource.workspace"
                [class.monitor]="resource.monitor"
              >
                <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon> 
                Tab {{ i + 1 }}: {{ resource.name }} 
                <button mat-icon-button (click)="deleteResource(resource, i)" class="delete-button"> 
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </div>
          
        </div>
      
        <div class="right-pane-container"> 
          <mat-sidenav #rightPane mode="over" position="end" [(opened)]="showResourcesPane">
            <div class="resources-pane">
              <button mat-icon-button class="close-resource-button" (click)="showResourcesPane = false"> 
                <mat-icon>close</mat-icon>
              </button>
              <h3>Resources</h3>
              <h4>View</h4>
              <div 
                class="available-resources-list" 
                cdkDropList 
                cdkDropListOrientation="vertical" 
                (cdkDropListDropped)="dropResourceFromAvailable($event)"
              >
                <div *ngFor="let resource of availableResources" cdkDrag>
                  <div 
                    class="available-resource-item"
                    [class.canvas]="resource.type === 'canvas'" 
                    [class.bucketView]="resource.type === 'bucketView'"
                    [class.workspace]="resource.type === 'workspace'"
                    [class.monitor]="resource.type === 'monitor'"
                  > 
                    {{ resource.name }}
                  </div>
                </div>
              </div>
            </div>
          </mat-sidenav>
  
          <div class="groups-list" *ngIf="!showResourcesPane && selectedActivity">
            <h3>Groups</h3> 
          
            <div class="group-resource-table">
              <div class="group-header-row">
                <div class="group-header-cell" *ngFor="let group of selectedActivityGroups">
                  {{ group.name }}
                </div>
              </div>
              <div class="resource-row" *ngFor="let resource of selectedActivityResources; let resourceIndex = index">
                <div 
                  class="group-resource-cell" 
                  *ngFor="let group of selectedActivityGroups" 
                  (click)="toggleResourceGroupAssignment(resource, group)"
                  [class.selected]="isResourceAssignedToGroup(resource, group)"
                  [class.canvas]="resource.canvas" 
                  [class.bucketView]="resource.bucketView"
                  [class.workspace]="resource.workspace"
                  [class.monitor]="resource.monitor"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div> 
  
    </div>
  </div>