// score-authoring.component.scss

.toolbar {
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; 
  }
  
  .main-content {
    display: flex; 
    height: calc(100vh - 64px);  
    margin-top: 64px; 
  }
  
  .activities-pane {
    width: 250px; 
    padding: 1rem;
    border-right: 1px solid #ccc; 
  }
  
  .activities-list {
    div.activity-item { 
      display: flex; 
      align-items: center; 
      cursor: pointer;
      padding: 0 0 0 0.5rem; 
      margin-bottom: 0; 
  
      .activity-buttons {
        margin-left: auto; 
        
        button {
          margin-left: 0.5rem; 
        }
      }
  
      &[cdkDrag] { // Style for draggable activities
        cursor: move; /* Show the move cursor when hovering */
      }

      .drag-handle { /* Styles for the drag handle icon */
        cursor: move;
        margin-right: 0.5rem; /* Add some space to the right */
      }
    }
  }

  .selected { 
    background-color: #e0e0e0; 
    border-left: 4px solid #3f51b5; /* Add a thicker left border to highlight */
    padding-left: 0.25rem; /* Adjust padding to account for the border */
  }
  
  .add-activity-button {
    position: absolute;
    bottom: 1rem; 
    left: 210px; 
    transform: none; 
  }
  
  .content-and-resources {
    display: flex;
    flex: 1; 
    height: 100%; 
  }
  
  .middle-pane {
    flex: 1; // Allow middle pane to take up available space
    padding: 1rem;
  }
  
  .right-pane-container {
    position: relative; // Required for absolute positioning of children
    flex: 0 0 200px; // Set a fixed width for the right pane container
    padding: 1rem;
  }
  
  .resources-pane {
    position: absolute; // Position the resources pane absolutely
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: 1; // Ensure resources pane is on top when visible
    padding: 1rem;
  }
  
  .groups-list {
    flex: 0 0 200px;
    padding: 1rem;
  }