<div>
    <app-toolbar
      class="toolbar"
      *ngIf="user && project" 
      [user]="user"
      style="width: 100%"
    >
      <button 
        mat-icon-button 
        routerLink="{{ '/project/' + project.projectID }}" 
        matTooltip="Return to Project Dashboard"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>SCORE Authoring - {{ project.name }}</span> 
      <span style="flex: 1 1 auto"></span>
      <app-toolbar-menu 
        navbarMenu
        [project]="project" 
      ></app-toolbar-menu>
    </app-toolbar>
  
    <div class="main-content"> 
  
      <div class="activities-pane"> 
        <h3>Activities</h3>
        <div class="activities-list" style="overflow-y: auto; max-height: 300px;"> 
          <div 
            *ngFor="let activity of activities" 
            (click)="selectActivity(activity)"
            [class.selected]="selectedActivity?.activityID === activity.activityID" 
          >
            <div class="activity-item"> 
              {{ activity.name }}
              <div class="activity-buttons"> 
                <button mat-icon-button (click)="start(activity)"> 
                  <mat-icon>play_arrow</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteActivity(activity)"> 
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <button mat-fab color="primary" class="add-activity-button" (click)="openCreateActivityModal()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
  
      <div class="content-and-resources"> 
        <div class="middle-pane">
          <h3 *ngIf="selectedActivity">{{ selectedActivity.name }}</h3>
          <div class="activity-resources-list" cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let resource of selectedActivityResources" cdkDrag>
              {{ resource.name }}
            </div>
          </div>
        </div>
  
        <div class="right-pane-container"> 
          <mat-sidenav #rightPane mode="over" position="end" [(opened)]="showResourcesPane">
            <div class="resources-pane">
              <h3>Available Resources</h3>
              <div class="available-resources-list">
                <div *ngFor="let resource of availableResources" (click)="addResourceToActivity(resource)">
                  {{ resource.name }}
                </div>
              </div>
            </div>
          </mat-sidenav>
  
          <div class="groups-list" *ngIf="!showResourcesPane && selectedActivity"> 
            <h3>Groups</h3>
            <div *ngFor="let group of selectedActivityGroups">
              {{ group.name }}
            </div>
          </div>
        </div>
  
      </div> 
  
    </div>
  </div>