<!-- score-authoring.component.html -->

<div>
    <app-toolbar
      class="toolbar"
      *ngIf="user && project" 
      [user]="user"
      style="width: 100%"
    >
      <button 
        mat-icon-button 
        routerLink="{{ '/project/' + project.projectID }}" 
        matTooltip="Return to Project Dashboard"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>SCORE Authoring - {{ project.name }}</span> 
      <span style="flex: 1 1 auto"></span>
      <app-toolbar-menu 
        navbarMenu
        [project]="project" 
      ></app-toolbar-menu>
    </app-toolbar>
  
    <div class="main-content"> 
  
      <div class="activities-pane"> 
        <!--<button mat-raised-button color="primary" class="classroom-bindings-button" (click)="toggleClassroomBindings()">
          {{ showClassroomBindings ? 'Author Resources' : 'Author Classroom' }} 
        </button>-->
        <h3>Activity Phases</h3>
        <div class="activities-list" cdkDropList (cdkDropListDropped)="dropActivity($event)"> 
            <div 
              *ngFor="let activity of activities" 
              (click)="selectActivity(activity)"
              [class.selected]="selectedActivity?.activityID === activity.activityID" 
              cdkDrag 
            >
              <div class="activity-item">
                <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon> 
                {{ activity.name }}
                <div class="activity-buttons"> 
                <button mat-icon-button (click)="editActivity(activity)"> 
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="start(activity)"> 
                  <mat-icon>play_arrow</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <button mat-fab color="primary" class="add-activity-button" (click)="openCreateActivityModal()">
          <mat-icon>add</mat-icon>
        </button> 

        <div *ngIf="selectedActivity" class="item-info-section">
          <h4>Buckets & Workflows</h4>
  
          <div class="item-info-grid">
            <div class="grid-item">
                <span class="item-label">Buckets:</span>
            </div>
            <div class="grid-item">
                <span class="item-count">{{ bucketCount }}</span>
            </div>
            <div class="grid-item">
                <button mat-icon-button class="add-item-button" (click)="openWorkflowBucketModal(0)" matTooltip="Create/Modify Buckets">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="grid-item">
                <span class="item-label">Workflows:</span>
            </div>
            <div class="grid-item">
                <span class="item-count">{{ workflowCount }}</span>
            </div>
            <div class="grid-item">
                <button mat-icon-button class="add-item-button" (click)="openWorkflowBucketModal(1)" matTooltip="Create/Modify Workflows">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
          </div>
        </div>
      </div>
  
      <div class="content-and-resources">
        <div class="middle-pane">
          <div class="canvas-container" *ngIf="showClassroomBindings"> 
            <canvas id="classroomCanvas"></canvas> 
          </div>
          <button 
            mat-fab 
            color="primary" 
            class="add-resource-button" 
            (click)="toggleResourcesPane()"
            *ngIf="!showResourcesPane && selectedActivity" 
          > 
            <mat-icon>add</mat-icon>
          </button>
          <h3 *ngIf="selectedActivity">{{ selectedActivity.name }}</h3>
          <div class="activity-space-header">
            <div class="heading-and-settings-container">
              <h4 *ngIf="selectedActivity">Activity Space: {{ selectedBoardName }}</h4>
              <button
                *ngIf="selectedActivity"
                mat-icon-button
                class="config-button"
                (click)="openConfigurationModal()"
                matTooltip="Configure Activity Space"
              >
                <mat-icon>settings</mat-icon>
              </button>
            </div>
          </div>
          
          <h5>Resource Assignments</h5>
          <div class="activity-resources-list" 
            cdkDropList 
            (cdkDropListDropped)="dropResource($event)" 
          >
            <div *ngFor="let resource of selectedActivityResources; let i = index" cdkDrag>
              <div 
                class="resource-item" 
                [class.canvas]="resource.canvas" 
                [class.bucketView]="resource.bucketView"
                [class.workspace]="resource.workspace"
                [class.monitor]="resource.monitor"
              >
                <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon> 
                Tab {{ i + 1 }}: {{ resource.name }} 
                <button mat-icon-button (click)="deleteResource(resource, i)" class="delete-button"> 
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <h5>Teacher Tasks</h5>
          <div cdkDropList class="teacher-task-list" (cdkDropListDropped)="dropTeacherAction($event)">
            <div
              *ngFor="let task of teacherTasks; let i = index"
              cdkDrag
              class="teacher-task-item"
              [class.activateWorkflow]="task.type === 'activateWorkflow'"
              [class.activateAiAgent]="task.type === 'activateAiAgent'"
              [class.regroupStudents]="task.type === 'regroupStudents'"
              [class.viewCanvas]="task.type === 'viewCanvas'"
              [class.viewBuckets]="task.type === 'viewBuckets'"
              [class.viewTodos]="task.type === 'viewTodos'"
              [class.viewWorkspace]="task.type === 'viewWorkspace'"
              [class.customPrompt]="task.type === 'customPrompt'"
            >
              <div 
                class="task-content" 
                (click)="handleTeacherTaskClick(task)"
              >
                <mat-icon cdkDragHandle class="drag-handle">drag_indicator</mat-icon>
                Task {{ task.order }}:
                <mat-icon class="teacher-task-icon">{{ getIconForTask(task) }}</mat-icon>
                {{ task.name }}
              </div>
              <button mat-icon-button (click)="deleteTeacherTask(task, i)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      
        <div class="resources-right-pane-container"> 
          <mat-sidenav #authoringResourcesPane id="authoringResourcesPane" mode="over" position="end" [(opened)]="showResourcesPane">
            <div class="resources-pane" *ngIf="!showClassroomBindings">
              <button mat-icon-button class="close-resource-button" (click)="showResourcesPane = false"> 
                <mat-icon>close</mat-icon>
              </button>
              <h3>Resources & Actions</h3>
              <h4>Resources</h4>
              <div 
                class="available-resources-list" 
                cdkDropList 
                cdkDropListOrientation="vertical" 
                (cdkDropListDropped)="dropResourceFromAvailable($event)"
              >
                <div *ngFor="let resource of availableResources" cdkDrag>
                  <div 
                    class="available-resource-item"
                    [class.canvas]="resource.type === 'canvas'" 
                    [class.bucketView]="resource.type === 'bucketView'"
                    [class.workspace]="resource.type === 'workspace'"
                    [class.monitor]="resource.type === 'monitor'"
                  > 
                    {{ resource.name }}
                  </div>
                </div>
              </div>

              <h4>Teacher Actions</h4> 
              <div 
                class="available-teacher-actions-list" 
                cdkDropList 
                cdkDropListOrientation="vertical" 
                (cdkDropListDropped)="dropTeacherActionFromAvailable($event)" 
              >
                <div *ngFor="let action of availableTeacherActions" cdkDrag>
                  <div 
                    class="available-resource-item"
                    [class.activateWorkflow]="action.type === 'activateWorkflow'"
                    [class.activateAiAgent]="action.type === 'activateAiAgent'"
                    [class.regroupStudents]="action.type === 'regroupStudents'"
                    [class.viewCanvas]="action.type === 'viewCanvas'"
                    [class.viewBuckets]="action.type === 'viewBuckets'"
                    [class.viewTodos]="action.type === 'viewTodos'"
                    [class.viewWorkspace]="action.type === 'viewWorkspace'"
                    [class.customPrompt]="action.type === 'customPrompt'"
                  >  
                    <mat-icon>{{ action.icon }}</mat-icon> 
                    {{ action.name }}
                  </div>
                </div>
              </div>
            </div>
          </mat-sidenav>
  
          <div class="groups-list" *ngIf="!showResourcesPane && selectedActivity">
            <div class="groups-header">
              <h3>Groups</h3> 
              <button mat-icon-button (click)="openGroupDialog()"> 
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="group-resource-table">
              <div class="group-header-row">
                <div class="group-header-cell" *ngFor="let group of selectedActivityGroups">
                  {{ group.name }}
                </div>
                <div class="group-header-cell edit-cell"> 
                  <button mat-icon-button (click)="editActivity(selectedActivity!)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </div>
              <div class="resource-row" *ngFor="let resource of selectedActivityResources; let resourceIndex = index">
                <div 
                  class="group-resource-cell" 
                  *ngFor="let group of selectedActivityGroups" 
                  (click)="toggleResourceGroupAssignment(resource, group)"
                  [class.selected]="isResourceAssignedToGroup(resource, group)"
                  [class.canvas]="resource.canvas" 
                  [class.bucketView]="resource.bucketView"
                  [class.workspace]="resource.workspace"
                  [class.monitor]="resource.monitor"
                >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="classroom-right-pane-container" *ngIf="showClassroomBindings && showResourcesPane"> 
          <mat-sidenav #classroomResourcesPane mode="over" position="end" [(opened)]="showResourcesPane">
            <div class="resources-pane" *ngIf="showClassroomBindings"> 
              <button mat-icon-button class="close-resource-button" (click)="showResourcesPane = false"> 
                <mat-icon>close</mat-icon>
              </button>
              <h3>Resources</h3>
      
              <h4>Classroom Objects</h4>
              <div 
                class="available-resources-list" 
                cdkDropList 
                cdkDropListOrientation="vertical" 
                (cdkDropListDropped)="dropResourceFromAvailable($event)"
              >
                <div *ngFor="let resource of availableClassroomObjects" cdkDrag>
                  <div class="available-resource-item"> 
                    <mat-icon>{{ resource.icon }}</mat-icon> 
                    {{ resource.name }}
                  </div>
                </div>
              </div>
            </div>
          </mat-sidenav>
        </div>
      </div> 
  
    </div>
  </div>