/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
@use './style/themes/light';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

$font-family-default: '"Roboto", sans-serif';

$custom-typography: mat.define-legacy-typography-config(
  $font-family: $font-family-default,
);
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($custom-typography);`
@include mat.all-legacy-component-typographies($custom-typography);
@include mat.legacy-core();

@include mat.legacy-core-theme(light.$ckb-light-theme);
@include mat.legacy-autocomplete-theme(light.$ckb-light-theme);
@include mat.legacy-button-theme(light.$ckb-light-theme);
@include mat.legacy-card-theme(light.$ckb-light-theme);
@include mat.legacy-checkbox-theme(light.$ckb-light-theme);
@include mat.legacy-chips-theme(light.$ckb-light-theme);
@include mat.legacy-dialog-theme(light.$ckb-light-theme);
@include mat.legacy-form-field-theme(light.$ckb-light-theme);
@include mat.grid-list-theme(light.$ckb-light-theme);
@include mat.icon-theme(light.$ckb-light-theme);
@include mat.legacy-input-theme(light.$ckb-light-theme);
@include mat.legacy-list-theme(light.$ckb-light-theme);
@include mat.legacy-menu-theme(light.$ckb-light-theme);
@include mat.legacy-select-theme(light.$ckb-light-theme);
@include mat.legacy-slide-toggle-theme(light.$ckb-light-theme);
@include mat.legacy-snack-bar-theme(light.$ckb-light-theme);
@include mat.legacy-tabs-theme(light.$ckb-light-theme);
@include mat.toolbar-theme(light.$ckb-light-theme);
@include mat.legacy-tooltip-theme(light.$ckb-light-theme);

$color-config: mat.get-color-config(light.$ckb-light-theme);
$accent-palette: map.get($color-config, 'accent');
$accent: mat.get-color-from-palette($accent-palette, 500);

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

a {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mat-app-background {
  background-color: #fafafa;
}

.accent {
  color: $accent;
}

.wide-snackbar {
  max-width: 75% !important;
}

/* mat-slider - temp legacy fix */
.slider .mat-slider-track-wrapper {
  background-color: #3a34b3;
}

.slider .mat-slider-thumb {
  background-color: #f44336;
}

.slider .mat-slider-thumb-label {
  background-color: #f44336;
}

.slider .mat-slider-thumb-label-text {
  color: white;
}

/* radio button - temp legacy fix */
.mat-radio-checked .mat-radio-inner-circle {
  background-color: #3a34b3;
}