/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;
@use './style/themes/light';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$font-family-default: '"Roboto", sans-serif';

$custom-typography: mat.define-typography-config(
  $font-family: $font-family-default,
);
@include mat.core($custom-typography);

@include mat.core-theme(light.$ckb-light-theme);
@include mat.autocomplete-theme(light.$ckb-light-theme);
@include mat.button-theme(light.$ckb-light-theme);
@include mat.card-theme(light.$ckb-light-theme);
@include mat.checkbox-theme(light.$ckb-light-theme);
@include mat.chips-theme(light.$ckb-light-theme);
@include mat.dialog-theme(light.$ckb-light-theme);
@include mat.form-field-theme(light.$ckb-light-theme);
@include mat.grid-list-theme(light.$ckb-light-theme);
@include mat.icon-theme(light.$ckb-light-theme);
@include mat.input-theme(light.$ckb-light-theme);
@include mat.list-theme(light.$ckb-light-theme);
@include mat.menu-theme(light.$ckb-light-theme);
@include mat.select-theme(light.$ckb-light-theme);
@include mat.slide-toggle-theme(light.$ckb-light-theme);
@include mat.snack-bar-theme(light.$ckb-light-theme);
@include mat.tabs-theme(light.$ckb-light-theme);
@include mat.toolbar-theme(light.$ckb-light-theme);
@include mat.tooltip-theme(light.$ckb-light-theme);

$color-config: mat.get-color-config(light.$ckb-light-theme);
$accent-palette: map.get($color-config, 'accent');
$accent: mat.get-color-from-palette($accent-palette, 500);

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

a {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.mat-app-background {
  background-color: #fafafa;
}

.accent {
  color: $accent;
}

.wide-snackbar {
  max-width: 75% !important;
}
