<div *ngIf="!description" style="display: flex; flex-direction: row;">
  <div class="title" [innerHTML]="title">
    {{ title }}
  </div>
  <button mat-stroked-button color="accent" (click)="close()">
    Close!
  </button>
  <button mat-stroked-button color="accent" *ngIf="action" (click)="doAction()">
    {{ this.action.name }}
  </button>
</div>
<div *ngIf="description">
  <div class="title" [innerHTML]="title">
    {{ title }}
  </div>
  <div class="description" [innerHTML]="description">
    {{ description }}
  </div>
  <button mat-stroked-button color="accent" (click)="close()">
    Close!
  </button>
  <button mat-stroked-button color="accent" *ngIf="action" (click)="doAction()">
    {{ this.action.name }}
  </button>
</div>
