<div class="wrapper">
  <div class="container">
      <div class="form-image-wrapper">
          <img class="form-image" src="../../assets/Login.png" alt="CK Board login picture" />
      </div>
      <div class="form-container">
          <form class="form" (ngSubmit)="onSubmit()">
              <div class="welcome">
                  <img class="logo" src="/assets/encore-logo.png" alt="Encore Lab logo" />
                  <h1 class="header">Common Knowledge Board</h1>
              </div>
              <div class="credentials-container">
                  <p>Enter your email address and we'll send you a link to reset your password.</p>
                  <mat-form-field appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput type="email" [(ngModel)]="email" name="email" required />
                  </mat-form-field>
                  <p *ngIf="message" class="message">{{ message }}</p>
              </div>
              <div class="next">
                  <button mat-raised-button color="primary"
                      [disabled]="!email">Submit</button>
              </div>
              <div class="alternate">
                  <a routerLink="/login">Back to Login</a>
              </div>
          </form>
      </div>
  </div>
</div>