@use '../../../style/layout/login'; // Assuming you have common styles in a login.scss file

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-height: 100px;
  width: auto;
}

.message {
  color: green; // Or your desired style for success/error messages
  text-align: center;
  margin-top: 10px;
}

.invalidCredentials {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.next {
  text-align: center;
}

.alternate {
  text-align: center;
  margin-top: 15px; // Add some spacing above the link
}
