<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<div class="app">
  <mat-toolbar>
      <span *ngIf="board && board.name">{{ board.name }}</span>
      <span style="flex: 1 1 auto"></span>
      <button mat-icon-button routerLink="/dashboard" matTooltip="Return to dashboard">
        <mat-icon>keyboard_return</mat-icon>
      </button>
      <button mat-icon-button (click)="openTaskDialog()" matTooltip="View Task">
          <mat-icon>task</mat-icon>
      </button>
      <button *ngIf="user && user.role == 'teacher'" mat-icon-button (click)="openSettingsDialog()" matTooltip="Adjust Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <button style="margin-left: 1em" *ngIf="user && user.username" mat-button [matMenuTriggerFor]="menu">{{ user.username }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="this.authService.signOut()">Log Out</button>
      </mat-menu>
  </mat-toolbar>
  <div class="canvas-area">
      <canvas id="canvas"></canvas>
      <div class="toolSection">
          <div class="toolField">
              <button *ngIf="mode != modeType.CHOOSING_LOCATION" mat-fab color="primary" matTooltip="Add Post" (click)="handleCreatePost()">
                  <mat-icon>add</mat-icon>
              </button>
              <button *ngIf="mode == modeType.CHOOSING_LOCATION" mat-fab color="primary" matTooltip="Cancel Post" (click)="disableChooseLocation()">
                  <mat-icon>close</mat-icon>
              </button>
              <button *ngIf="mode == modeType.EDIT" mat-fab color="primary" matTooltip="Move Posts - Mode" (click)="enablePanMode()">
                  <mat-icon>open_with</mat-icon>
              </button>
              <button *ngIf="mode == modeType.PAN" mat-fab color="primary" matTooltip="Pan Canvas - Mode"  (click)="enableEditMode()">
                  <mat-icon style="padding-right: 3px;">pan_tool</mat-icon>
              </button>
          </div>
        </div>
      <div class="zoom">
        <div class = "toolField"> 
          <button (click) = "handleZoom('zoomIn')"><i class="fas fa-search-plus"></i></button>
          <button (click) = "handleZoom('zoomOut')"><i class="fas fa-search-minus"></i></button>
          <button (click) = "handleZoom('reset')"><i class="fas fa-recycle"></i></button>
        </div>
      </div>
  </div>
</div>