.canvas-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#canvas {
  background-color: #cfe5ff;
}

.toolSection {
  position: absolute;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 30px;
  left: 93%;
}

.toolField {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-top: 0.5rem;

  button {
    margin-bottom: 10px;
  }
}

.side-container {
  width: 27.8vw;
  height: 100vh;

  position: absolute;
  visibility: hidden;
}

.sidenav {
  background-color: #cfe5ff;
}

.bucket-card {
  width: 25vw;

  padding: 8px 8px 15px 8px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;

  word-wrap: break-word;

  background-color: #f4d74b;
}

.search {
  font-size: 12px;
  margin: 10px 10px 0px 10px;
}
