<div class="app">
  <mat-toolbar>
      <span *ngIf="board && board.name">{{ board.name }}</span>
      <span style="flex: 1 1 auto"></span>
      <button mat-icon-button (click)="openTaskDialog()">
          <mat-icon>task</mat-icon>
      </button>
      <button *ngIf="user && user.role == 'teacher'" mat-icon-button (click)="openSettingsDialog()">
        <mat-icon>settings</mat-icon>
      </button>
      <button style="margin-left: 1em" *ngIf="user && user.username" mat-button [matMenuTriggerFor]="menu">{{ user.username }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="this.authService.signOut()">Log Out</button>
      </mat-menu>
  </mat-toolbar>
  <div class="canvas-area">
      <canvas id="canvas"></canvas>
      <div class="toolSection">
          <div class="toolField">
              <button *ngIf="mode != modeType.CHOOSING_LOCATION" mat-fab color="primary" (click)="handleCreatePost()">
                  <mat-icon>add</mat-icon>
              </button>
              <button *ngIf="mode == modeType.CHOOSING_LOCATION" mat-fab color="primary" (click)="disableChooseLocation()">
                  <mat-icon>close</mat-icon>
              </button>
              <button *ngIf="mode == modeType.EDIT" mat-fab color="primary" (click)="enablePanMode()">
                  <mat-icon>open_with</mat-icon>
              </button>
              <button *ngIf="mode == modeType.PAN" mat-fab color="primary" (click)="enableEditMode()">
                  <mat-icon style="padding-right: 3px;">pan_tool</mat-icon>
              </button>
          </div>
        </div>
  </div>
</div>