@use '../base' as *;

.wrapper {
    background-color: #3F3D56;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 32px;
    display: flex;
    flex-direction: column;

    @media (min-width: breakpoint('md', 'min')) {
        flex-direction: row;
        max-width: breakpoint('lg', 'min');
    }
}

.form-image-wrapper, .form-container {    
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: breakpoint('md', 'min')) {
        flex: 1 1 50%;
    }
}

.form-image-wrapper {
    background-color: #090040;

    @media (max-width: breakpoint('sm', 'max')) {
        display: none;
    }
}

.form-image {
    max-width: 100%;
    height: auto;
}

.form-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    h2 {
        text-align: center;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

.form {
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.form > * {
    align-items: stretch;
    justify-content: center;
}

.header {
    font-weight: normal;
    margin-bottom: 40px;
    text-align: center;
}

.next {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    
    button {
        width: 100%;
        height: 50px;
        outline: none;
        border: none;
        font-size: 24px;
        color: white;
        opacity: 0.8;
        background-color: #6C63FF;
    }

    button:hover {
        cursor: pointer;
        opacity: 1;
        transition: 0.2s;
    }
}

.credentials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alternate {
    font-size: 20px;
    text-align: center;
    margin-top: 36px;
}
