<h1 mat-dialog-title>CK Buckets</h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="buckets && buckets.length > 0 && !loading" appearance="outline" style="font-size: 14px; margin-right: 1em;">
    <mat-select [(ngModel)]="activeBucket.name">
      <mat-option value="{{bucket.name}}" *ngFor="let bucket of buckets" (click)="loadBucketPosts(bucket)">{{ bucket.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button 
    mat-icon-button 
    matTooltip="Create Post in Bucket" 
    (click)="openAddPostDialog()"
    [disabled] = "buckets && buckets.length == 0">
      <mat-icon>note_add</mat-icon>
  </button>
  <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>
  <div class="list">
    <div *ngFor="let post of posts">
      <app-html-post [post]="post" (movePostToBoardEvent)="movePostToBoard($event)" ></app-html-post>
    </div>
  </div>
</div>