@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
.list {
  display: flex; 

  flex-flow: row wrap; 
  justify-content: space-evenly;
  row-gap: 10px;
}

.spinner {
  margin: 70px auto; 
  background: transparent; 
}

::ng-deep .mat-dialog-container {
  overflow-y: hidden !important;
}