<h1 mat-dialog-title>Learner Model Data</h1>
<div mat-dialog-content>
  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="Engagement Data">
      <h3 style="padding-top: 20px;"><strong>Select Student & Assessment Type:</strong></h3>
      <div>
        <mat-form-field appearance="fill" style="padding: 10px 10px;">
          <mat-label>Student</mat-label>
          <mat-select [(ngModel)]="student" (selectionChange)="studentChange()">
            <mat-option *ngFor="let student of students" [value]="student">{{student.username}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="padding: 10px 10px;">
          <mat-label>Assessment</mat-label>
          <mat-select [(ngModel)]="assessment" (selectionChange)="assessmentChange()">
            <mat-option value="Diagnostic">Diagnostic</mat-option>
            <mat-option value="Re-assessment">Re-assessment</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <h3><strong>Data Series:</strong></h3>
      <div *ngIf="dimensionValues">
        <div *ngFor="let dimensionValue of dimensionValues; let i = index;">
          <mat-form-field>
            <mat-label>{{dimensionValue.dimension}}</mat-label>
            <input *ngIf="assessment === 'Diagnostic'" type="number" [(ngModel)]="dimensionValue.diagnostic" matInput [formControl]="formArray[i]" [errorStateMatcher]="matcher">
            <input *ngIf="assessment === 'Re-assessment'" type="number" [(ngModel)]="dimensionValue.reassessment" matInput [formControl]="formArray[i]" [errorStateMatcher]="matcher">
            <mat-error *ngIf="formArray[i].hasError('required')">
              Value is required
            </mat-error>
            <mat-error *ngIf="formArray[i].hasError('min') || formArray[i].hasError('max')">
              Value must be between 0-100
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
  <button mat-button *ngIf="student && assessment" (click)="updateDataSeries()">Update Data Series</button>
</div>