<mat-card class="bucket-card" (click)="openPostDialog()" *ngIf="exists">
  <div class="titleRow">
    <mat-card-title style="display:inline-block;">{{ post.title }}</mat-card-title>
    <button 
      mat-button 
      *ngIf="!post.fabricObject" 
      (click)="movePostToBoard(post.postID); $event.stopPropagation()"
      style="display: inline-block;">
      <mat-icon class="material-icons-outlined">download</mat-icon>
    </button>
  </div>
    <mat-card-subtitle *ngIf="showUsername && postAuthor">{{ postAuthor.username }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!showUsername">Anonymous</mat-card-subtitle>
    
    <mat-card-content class="content">
      <mat-chip-list>
        <mat-chip color="primary" selected *ngFor="let tag of post.tags">{{ tag }}</mat-chip>
      </mat-chip-list>
      <p>{{ post.desc }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="handleLike(); $event.stopPropagation()">
        <mat-icon *ngIf="isLiked">thumb_up</mat-icon>
        <i class="material-icons-outlined" *ngIf="!isLiked">thumb_up</i>
        {{numLikes}}
      </button>
      <button mat-button>
        <mat-icon>comment</mat-icon>
        {{numComments}}
      </button>
      
    </mat-card-actions>
</mat-card>
