// toolbar.component.scss

.logo {
  height: 36px;
  width: auto;
  margin-right: 8px;
  vertical-align: middle;
}

.username-span {
  font-size: 14px;
  margin: 0px 10px;
}

.mat-menu-panel {  
  min-width: 250px !important; 
}

// Add spacing between icons
::ng-deep .mat-toolbar-single-row button[mat-icon-button] {
    margin-right: 12px; 

    &:last-child {
      margin-right: 0; // Remove margin from the *last* icon button
    }
}