.bucket-card {
  cursor: pointer;

  // width: 15vw;

  border-radius: 20px;
  border: 2px solid black;
  word-wrap: break-word;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
          line-clamp: 4; 
  -webkit-box-orient: vertical;
}

mat-chip {
  padding: 2px 8px !important;
  font-size: 12px;
}

.titleRow{
  display: flex;
  justify-content: space-between;
}

.mat-title {
  line-height: 1.2;
  margin-bottom: 10px;
}

.upvote-button {
  font-size: 18px;
}

.upvote-icon {
  font-size: 32px;
}