<div class="wrapper">
    <div class="container">
        <div class="form-image-wrapper">
            <img class="form-image" src="../../assets/Login.png" alt="CK Board login picture" />
        </div>
        <ng-container *ngIf="oobCodeChecked; else notOobCodeChecked">
            <div class="form-container">
                <form class="form" (ngSubmit)="onHandleResetPassword()">
                    <h1 class="header">Reset Password</h1>
                    <div class="credentials-container">
                        <mat-form-field appearance="fill">
                            <mat-label>New Password</mat-label>
                            <input autocomplete="new-password" [formControl]="passwordControl" [errorStateMatcher]="matcher"
                                type="password" matInput [(ngModel)]="newPassword" name="newPassword" />
                            <mat-hint *ngIf="!newPassword || newPassword.length < 12 || newPassword.length > 30">Password is required
                                (12-30 characters)</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Confirm New Password</mat-label>
                            <input autocomplete="confirm-password" [formControl]="passwordControl" [errorStateMatcher]="matcher"
                                type="password" matInput [(ngModel)]="confirmPassword" name="confirmPassword" />
                            <mat-hint *ngIf="confirmPassword != newPassword" style="color:red;"> Oops, this does not match with the
                                password above</mat-hint>
                        </mat-form-field>
                    </div>
                    <p *ngIf="passwordMsg === 'Mismatch'" class="fail">The new password does not match the confirmed new password</p>
                    <p *ngIf="passwordMsg === 'Error'" class="fail">An error has occurred. Please refresh or go back to the login page.
                    </p>
                    <div class="next">
                        <button type="submit" (click)="onSubmitPassword()"
                            [ngClass]="passwordControl.valid && newPassword === confirmPassword ? 'enabled' : 'disabled'"
                            [disabled]="!passwordControl.valid || confirmPassword != newPassword" mat-button>Submit</button>
                    </div>
                    <p class="alternate"><a routerLink="/login" >Back To Login</a></p>
                </form>
            </div>
        </ng-container>  

        <ng-template #notOobCodeChecked> 
            <ng-container>
                <div class="form-container">
                    <form class="form" (ngSubmit)="onHandleEmail()">
                        <h1 class="header">Forgot Password</h1>
                        <div class="credentials-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input autocomplete="username" type="email" matInput [(ngModel)]="email" name="username" />
                            </mat-form-field>
                        </div>
                        <p *ngIf="emailMsg === 'Missing Email'" class="fail">Please enter your email address</p>
                        <p *ngIf="emailMsg === 'Success'" class="success">A link to reset your password has been sent to your email</p>
                        <p *ngIf="emailMsg === 'Wrong Email'" class="fail">Your email has not been registered</p>
                        <div class="next">
                            <button type="submit" (click)="onSubmitEmail()" style="background-color: #6C63FF" mat-button>Submit</button>
                        </div>
                        <p class="alternate"><a routerLink="/login">Back To Login</a></p>
                    </form>
                </div>
            </ng-container>  
        </ng-template>
    </div>
</div>

