@use '../../../style/layout/login';

.fail {
    color: red;
    text-align: center;
}

.success {
    color: black;
    text-align: center;
}

.active{
    border: 5px solid #6C63FF;
}

.enabled {
    background-color: #6C63FF;
}

.disabled {
    background-color: #9A9AAC;
}

.mat-form-field:not(:last-of-type) {
    margin-bottom: 20px;
}