<h1 mat-dialog-title *ngIf="!editing && !restoring">Add Todo List Task</h1>
<h1 mat-dialog-title *ngIf="editing">Update Todo List Task</h1>
<h1 mat-dialog-title *ngIf="restoring">Restore Todo List Task</h1>
<div style="position: relative;">
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Title</mat-label>
    <input
      name="taskTitle"
      [appAutofocus]="true"
      [formControl]="taskTitleControl"
      [errorStateMatcher]="matcher"
      matInput
      autocomplete="off"
      [(ngModel)]="taskTitle"
    />
    <mat-error *ngIf="!taskTitle"> Task Title is <strong>required</strong> </mat-error>
    <mat-error *ngIf="taskTitle && taskTitle.length > 50">
      Task Title is <strong>too long!</strong>
    </mat-error>
  </mat-form-field>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Select Type..</mat-label>
      <mat-select
        [(ngModel)]="todoItemTypes"
        [formControl]="todoItemTypeFormControl"
        [errorStateMatcher]="matcher"
        multiple
      >
        <mat-option value="COGNITION">Cognitive strategies</mat-option>
        <mat-option value="SEL">Social-emotional learning supports</mat-option>
        <mat-option value="BEHAVIOURAL">Behavioural engagement practices</mat-option>
        <mat-option value="CLASS">Class-related work</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon 
      style="margin-left: 15px;" 
      matTooltip="Cognitive engagement strategies (i.e., learning strategies for memorization, recall, application of knowledge)

      Social-emotional learning supports (i.e., supports for developing your math identity, positive motivation, emotional awareness, stress management, relationships, or critical/creative thinking)

      Behavioural engagement practices (practices for improving learning engagement, i.e., note-taking, asking questions, generating/sharing ideas, or discussing ideas with peers)" >
      info
    </mat-icon>
    <mat-form-field appearance="fill" style="float: right">
      <mat-label>(If Groupwork) Select Group</mat-label>
      <mat-select
        [(ngModel)]="selectedGroup"
        [errorStateMatcher]="matcher"
      >
        <mat-option *ngFor="let group of userGroups" [value]="group">
          {{ group.name }}
        </mat-option>
        <mat-option [value]="">None</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [min]="taskDeadlineDate" [matDatepicker]="picker" [(ngModel)]="taskDeadlineDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 70px; margin-left: 15px;">
      <mat-label>Hour</mat-label>
      <mat-select [(ngModel)]="timeHour" required>
        <mat-option *ngFor="let hour of hourRange" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100px; margin-left: 15px;">
      <mat-label>Minutes</mat-label>
      <mat-select [(ngModel)]="timeMinute" required>
        <mat-option *ngFor="let minute of minuteRange" [value]="minute">
          {{minute | number:'2.0'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100px; margin-left: 15px;">
      <mat-label>Period</mat-label>
      <mat-select [(ngModel)]="timePeriod" required>
        <mat-option *ngFor="let period of ['AM', 'PM']" [value]="period">
          {{period}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button 
    *ngIf="!editing && !restoring"
    mat-button [disabled]="!taskTitleControl.valid || !todoItemTypeFormControl.valid" 
    (click)="createTodoItem()"
  >Create Todo Item</button>
  <button 
    *ngIf="editing"
    mat-button [disabled]="!taskTitleControl.valid || !todoItemTypeFormControl.valid" 
    (click)="updateTodoItem()"
  >Update Todo Item</button>
  <button 
    *ngIf="restoring"
    mat-button [disabled]="!taskTitleControl.valid || !todoItemTypeFormControl.valid" 
    (click)="restoreTodoItem()"
  >Restore Todo Item</button>
</div>