@use '../../../style/layout/dashboard';

.heading {
  margin-top: -0.5em;
}

.tag-icon {
  padding-right: 10px;
  width: 12px;
  height: 15px;
  font-size: medium;
}

.mat-chip {    
  padding: 0 8px;
  min-height: 24px;
  font-size: 12px;
  background-color: #F56F66;
}

#shared-chip {
  background-color: #8EC8E1;
}
