<div class="app">
  <app-toolbar [user]="user">
    <span *ngIf="project">{{ project.name }}</span>
    <span style="flex: 1 1 auto"></span>
    <button
      mat-icon-button
      [matMenuTriggerFor]="addMenu"
      *ngIf="user && user.role === Role.TEACHER"
      matTooltip="Create Board"
    >
      <mat-icon>add</mat-icon>
    </button>

    <mat-menu #addMenu="matMenu">
      <button mat-menu-item (click)="openCreateBoardDialog()">
        Create Board
      </button>
    </mat-menu>

    <div *ngIf="project">
      <app-project-notification-dropdown
        [user]="user"
        [project]="project"
      ></app-project-notification-dropdown>
    </div>

    <button navbarMenu mat-icon-button [matMenuTriggerFor]="projectNavbarMenu">
      <mat-icon>dehaze</mat-icon>
    </button>

    <mat-menu #projectNavbarMenu="matMenu">
      <button
        mat-menu-item 
        *ngIf="user && user.role === Role.STUDENT"
        (click)="openTodoList()"
      >
        <mat-icon>assignment</mat-icon>
        Todo List
      </button>
      <app-csv-download-button
        [projectID]="this.projectID"
        *ngIf="user && user.role === Role.TEACHER"
      >
      </app-csv-download-button>
      <button
        mat-menu-item 
        *ngIf="user && user.role === Role.TEACHER"
        (click)="openProjectTodoList()"
      >
        <mat-icon>assignment_ind</mat-icon>
        View All Todo Lists
      </button>
      <button
        *ngIf="user && user.role === Role.TEACHER"
        mat-menu-item 
        (click)="openGroupDialog()"
      >
        <mat-icon>group_work</mat-icon>
        Manage Groups
      </button>

      <button
        *ngIf="user && user.role === Role.TEACHER"
        mat-menu-item
        (click)="openSettingsDialog()"
      >
        <mat-icon>settings</mat-icon>
        Adjust Settings
      </button>
      <a href="https://score.oise.utoronto.ca/" style="text-decoration:none;color:black" target="_blank" >
      <button mat-menu-item style="text-decoration:none;color:black">
          <mat-icon>launch</mat-icon>
          Go to SCORE
        </button>
      </a>
      <button mat-menu-item (click)="signOut()">
        <mat-icon class="material-icons-outlined">logout</mat-icon>
        Log Out
      </button>
    </mat-menu>
  </app-toolbar>
  <div class="content">
    <div class="heading">
      <button
        mat-icon-button
        routerLink="/dashboard"
        aria-label="Return to Dashboard"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h3 class="mat-title" *ngIf="project">Boards for {{ project.name }}</h3>
    </div>
    <ng-container *ngIf="user.role === Role.TEACHER">
      <div>
        <button *ngIf="project && project.personalBoardSetting.enabled" class="subheader-button" mat-button (click)="showSharedBoards = !showSharedBoards">
          Shared Project Boards ({{ sharedBoards.length }})
          <mat-icon>{{ showSharedBoards ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
        <div *ngIf="showSharedBoards" style="padding: 10px 0px">
          <div class="cards">
            <div *ngFor="let board of sharedBoards">
              <mat-card
                class="card"
                (click)="handleBoardClick(board.boardID, board.defaultView)"
                (keyup.enter)="handleBoardClick(board.boardID, board.defaultView)"
                role="button"
                tabindex="0"
                [attr.aria-label]="'View ' + board.name"
              >
                <mat-card-title class="title accent">
                  <mat-icon color="accent">picture_in_picture</mat-icon>
                  <span>{{ board.name }}</span>
                </mat-card-title>
                <button
                  mat-icon-button
                  class="accent"
                  *ngIf="user && user.role === Role.TEACHER"
                  matTooltip="Toggle Visibility"
                  (click)="toggleBoardVisibility($event, board)"
                >
                  <mat-icon *ngIf="board.visible">visibility</mat-icon>
                  <mat-icon *ngIf="!board.visible">visibility_off</mat-icon>
                </button>
                <button 
                *ngIf="user && user.role === Role.TEACHER"
                mat-icon-button
                [matMenuTriggerFor]="boardOptions"
                style="margin:0; padding:0;line-height: inherit;height: inherit;right: 0;position: absolute;"
                matTooltip="Board Options"
                (click)="$event.stopPropagation();"
                >
                  <mat-icon >
                    more_vert
                  </mat-icon>
                </button>
                <mat-menu #boardOptions="matMenu">
                  <button mat-menu-item (click)="handleEditBoard(board)">
                    Edit
                  </button>
                  <button mat-menu-item (click)="handleDeleteBoard(board)">
                    Delete
                  </button>
                </mat-menu>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip id="shared-chip" #tooltip="matTooltip" matTooltip="Visible to all project members.">
                      <mat-icon class="tag-icon">group</mat-icon>
                      Shared
                    </mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button *ngIf="project && project.personalBoardSetting.enabled" class="subheader-button" mat-button (click)="showStudentPersonalBoards = !showStudentPersonalBoards">
          Student Personal Boards ({{ studentPersonalBoards.length }})
          <mat-icon>{{ showStudentPersonalBoards ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
        <div *ngIf="project && showStudentPersonalBoards && project.personalBoardSetting.enabled" style="padding: 10px 0px">
          <div class="cards">
            <ng-container *ngFor="let board of studentPersonalBoards">
              <mat-card
                class="card"
                (click)="handleBoardClick(board.boardID, board.defaultView)"
                (keyup.enter)="handleBoardClick(board.boardID, board.defaultView)"
                role="button"
                tabindex="0"
                [attr.aria-label]="'View ' + board.name"
              >
                <mat-card-title class="title accent">
                  <mat-icon color="accent">picture_in_picture</mat-icon>
                  <span>{{ board.name }}</span>
                </mat-card-title>
                <button
                  mat-icon-button
                  class="accent"
                  *ngIf="user && user.role === Role.TEACHER"
                  matTooltip="Toggle Visibility"
                  (click)="toggleBoardVisibility($event, board)"
                >
                  <mat-icon *ngIf="board.visible">visibility</mat-icon>
                  <mat-icon *ngIf="!board.visible">visibility_off</mat-icon>
                </button>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip #tooltip="matTooltip" matTooltip="Only visible to teachers and assigned student.">
                      <mat-icon class="tag-icon">lock</mat-icon>
                      Personal
                    </mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </ng-container>
          </div>
        </div>
      </div>
      <div>
        <button *ngIf="project && project.personalBoardSetting.enabled" class="subheader-button" mat-button (click)="showTeacherPersonalBoards = !showTeacherPersonalBoards">
          Teacher Personal Boards ({{ teacherPersonalBoards.length }})
          <mat-icon>{{ showTeacherPersonalBoards ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
        <div *ngIf="project && showTeacherPersonalBoards && project.personalBoardSetting.enabled" style="padding: 10px 0px">
          <div class="cards">
            <ng-container *ngFor="let board of teacherPersonalBoards">
              <mat-card
                class="card"
                (click)="handleBoardClick(board.boardID, board.defaultView)"
                (keyup.enter)="handleBoardClick(board.boardID, board.defaultView)"
                role="button"
                tabindex="0"
                [attr.aria-label]="'View ' + board.name"
              >
                <mat-card-title class="title accent">
                  <mat-icon color="accent">picture_in_picture</mat-icon>
                  <span>{{ board.name }}</span>
                </mat-card-title>
                <button
                  mat-icon-button
                  class="accent"
                  *ngIf="user && user.role === Role.TEACHER"
                  matTooltip="Toggle Visibility"
                  (click)="toggleBoardVisibility($event, board)"
                >
                  <mat-icon *ngIf="board.visible">visibility</mat-icon>
                  <mat-icon *ngIf="!board.visible">visibility_off</mat-icon>
                </button>
                <button 
                *ngIf="user && user.role === Role.TEACHER"
                mat-icon-button
                [matMenuTriggerFor]="boardOptions"
                style="margin:0; padding:0;line-height: inherit;height: inherit;right: 0;position: absolute;"
                matTooltip="Board Options"
                (click)="$event.stopPropagation();"
                >
                  <mat-icon >
                    more_vert
                  </mat-icon>
                </button>
                <mat-menu #boardOptions="matMenu">
                  <button mat-menu-item (click)="handleEditBoard(board)">
                    Edit
                  </button>
                  <button mat-menu-item (click)="handleDeleteBoard(board)">
                    Delete
                  </button>
                </mat-menu>
                <mat-card-content>
                  <mat-chip-list>
                    <mat-chip #tooltip="matTooltip" matTooltip="Only visible to teachers.">
                      <mat-icon class="tag-icon">lock</mat-icon>
                      Personal
                    </mat-chip>
                  </mat-chip-list>
                </mat-card-content>
              </mat-card>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="user.role === Role.STUDENT">
      <div class="cards">
        <ng-container *ngFor="let board of studentPersonalBoards.concat(sharedBoards)">
          <mat-card
            class="card"
            (click)="handleBoardClick(board.boardID, board.defaultView)"
            (keyup.enter)="handleBoardClick(board.boardID, board.defaultView)"
            role="button"
            tabindex="0"
            [attr.aria-label]="'View ' + board.name"
          >
            <mat-card-title class="title accent">
              <mat-icon color="accent">picture_in_picture</mat-icon>
              <span>{{ board.name }}</span>
            </mat-card-title>
            <mat-card-content>
              <mat-chip-list>
                <mat-chip *ngIf="board.scope === BoardScope.PROJECT_SHARED" id="shared-chip" #tooltip="matTooltip" matTooltip="Visible to all project members.">
                  <mat-icon class="tag-icon">group</mat-icon>
                  Shared
                </mat-chip>
                <mat-chip *ngIf="board.scope === BoardScope.PROJECT_PERSONAL" #tooltip="matTooltip" matTooltip="Only visible to you and project teachers.">
                  <mat-icon class="tag-icon">lock</mat-icon>
                  Personal
                </mat-chip>
              </mat-chip-list>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
