@use '../../../style/layout/dashboard';

.heading {
  margin-top: -0.5em;
}

.board-card-header {
  display: flex;
  justify-content: space-between;
}

.board-card-title {
  margin-bottom: 0;
  align-items: center;
}